@import "./../../base/base.scss";
@import "./../Checkbox/Checkbox.scss";

.nitrozen-dropdown-container {
  font-family: $PrimaryFont;
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 100%;

  .nitrozen-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }
  .nitrozen-select {
    box-sizing: border-box;
    border: 0.1rem solid $SecondaryDisabledColor;
    border-radius: 0.3rem;
    background-color: $WhiteColor;

    position: relative;
    display: flex;
    flex-direction: column;
  }
  .nitrozen-select:focus-within {
    border-color: $PrimaryColor;
  }
  .nitrozen-select__trigger {
    color: $Gray;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    min-height: 2.2rem;
    padding: 0.8rem 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $WhiteColor;
    cursor: pointer;
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    input[type="search"]::-webkit-search-cancel-button {
      position: relative;
      right: 1rem;
      font-size: $BaseFontSize + 6;
      cursor: pointer;
    }
  }
  .nitrozen-options {
    position: absolute;
    display: block;
    transform: translate3d(0rem, 4.2rem, 0rem);
    left: 0;
    right: 0;
    border: 0.1rem solid $SecondaryDisabledColor;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(229, 229, 229, 0.2),
      0 0.6rem 2rem 0 rgba(229, 229, 229, 0.19);
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    max-height: 20rem; // 48vh
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    z-index: $ZIndex1;

    @include nitrozen-menu-scrollbar;
  }
  .nitrozen-select.nitrozen-dropdown-open .nitrozen-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .nitrozen-dropup {
    transform: translate3d(0rem, 0rem, 0rem);
    bottom: 4.2rem;
    z-index: $ZIndex2;
  }
  .nitrozen-option {
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: $TypographyPrimaryColor;
    line-height: 2.2rem;
    cursor: pointer;
    transition: all 0.5s;
    .nitrozen-checkbox-container {
      pointer-events: none;
      margin-top: 0.2rem;
      height: 2rem;
      .nitrozen-checkbox {
        margin-top: 0.2rem;
      }
    }
    &.nitrozen-option-group-label {
      pointer-events: none;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .nitrozen-option-container {
      padding: 0.9rem 1.4rem;
    }

    .nitrozen-option-child-label {
      padding-left: 2.4rem;
      display: flex;
      align-items: center;
    }

    .nitrozen-option-logo {
      height: 2.4rem;
      width: auto;
      padding-right: 0.8rem;
    }

    .nitrozen-option-image {
      display: flex;
      align-items: center;
    }

    .nitrozen-dropdown-multicheckbox-selected {
      color: $PrimaryColor;
      font-weight: bold;
    }
  }
  .nitrozen-option:hover {
    cursor: pointer;
    background-color: $HoverColor;
  }
  .nitrozen-option.selected {
    color: $WhiteColor;
    background-color: $PrimaryColor;
  }
  // Disabled
  .nitrozen-select.disabled {
    background-color: $SecondaryDisabledColor;
  }
  .nitrozen-select__trigger:hover {
    color: $Zambezi;
  }
  .nitrozen-select.disabled .nitrozen-select__trigger {
    color: $WarningColor;
    background-color: $SecondaryDisabledColor;
    cursor: not-allowed;
  }
  .nitrozen-select.disabled .nitrozen-select__trigger .nitrozen-dropdown-arrow {
    color: $WarningColor;
  }

  // Arrow

  .nitrozen-dropdown-arrow {
    position: relative;
    top: -0.4rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .nitrozen-dropdown-arrow::after {
    position: absolute;
    bottom: 0rem;
    height: 100%;
  }
  .nitrozen-dropdown-open .nitrozen-dropdown-arrow {
    left: 0.5rem;
    right: 0rem;
    transform: rotate(180deg);
    top: 0rem;
  }
}

.nitrozen-dropdown-label {
  color: $LabelColor;
  font-family: $PrimaryFont;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.nitrozen-dropdown-empty {
  display: flex;
  align-items: center;
  .nitrozen-add-btn {
    width: 2.5rem;
    height: 2.5rem;
  }
  p {
    margin: 0rem;
    margin-left: 1rem;
  }
}

.nitrozen-searchable-input-container {
  width: 100%;
  input {
    font-size: 1.4rem;
    width: 100%;
    border: none;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
}
.horizantal-divider {
  height: 0.1rem;
  width: 100%;
  background-color: lightgrey;
  margin: 0.5rem 0;
}
