@import "./../../base/base.scss";
@import "./../Checkbox/Checkbox.scss";

.n-dropdown-container {
  font-family: $PrimaryFont;
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 100%;

  .n-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }

  .n-select {
    box-sizing: border-box;
    background-color: $WhiteColor;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .n-select:focus-within {
    border-color: $PrimaryColor;
  }

  .n-select__trigger {
    color: $TypographyPrimaryColor;
    font-size: 1.4rem;
    line-height: 2.2rem;
    min-height: 2.2rem;
    padding: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $WhiteColor;
    cursor: pointer;
    border: 1px solid $ColorSparkleGrey60;
    border-radius: 16px;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    input[type="search"]::-webkit-search-cancel-button {
      position: relative;
      right: 0;
      font-size: $BaseFontSize + 6;
      cursor: pointer;
    }

    &:active {
      background-color: $ColorPrimaryGrey20;
    }
  }

  .n-options {
    position: absolute;
    display: block;
    transform: translate3d(0rem, 4.2rem, 0rem);
    left: 0;
    right: 0;
    top: 18px;
    border: 0.1rem solid $SecondaryDisabledColor;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(229, 229, 229, 0.2),
      0 0.6rem 2rem 0 rgba(229, 229, 229, 0.19);
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    max-height: 20rem;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    z-index: $ZIndex1;
    border-radius: $BaseFontSize + 6px;
  }

  .n-select.n-dropdown-open .n-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .n-dropup {
    transform: translate3d(0rem, 0rem, 0rem);
    bottom: 4.2rem;
    z-index: $ZIndex2;
  }

  .n-option {
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: $TypographyPrimaryColor;
    line-height: 2.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: 1px solid $ColorPrimaryGrey40;

    .n-checkbox-container {
      pointer-events: none;

      .n-checkbox {
        @media screen and (max-width: 768px) {
          margin-top: 0.4rem;
          top: 0.2rem !important;
          left: 0 !important;
        }
      }
    }

    &.n-option-group-label {
      pointer-events: none;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .n-option-container {
      padding: 1.4rem;
    }

    .n-option-child-label {
      padding-left: 2.4rem;
      display: flex;
      align-items: center;
    }

    .n-option-logo {
      height: 2.4rem;
      width: auto;
      padding-right: 0.8rem;
    }

    .n-option-image {
      display: flex;
      width: 100%;
      justify-content: flex-start !important;
      align-items: center;
    }

    .n-dropdown-multicheckbox-selected {
      color: $PrimaryColor;
      font-weight: 600;
    }
  }

  .n-option:hover {
    cursor: pointer;
    background-color: $ColorSecondaryGrey20;
  }

  .n-option.selected {
    color: $ColorPrimary60;
  }

  // Disabled
  .n-select__trigger:hover {
    color: $Zambezi;
  }

  .n-select__trigger .n-dropdown-arrow {
    color: $WarningColor;
  }

  // Arrow

  .n-dropdown-arrow {
    position: relative;
    top: -0.4rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .n-dropdown-arrow::after {
    position: absolute;
    bottom: 0rem;
    height: 100%;
  }

  .n-dropdown-open .n-dropdown-arrow {
    left: 0.5rem;
    right: 0rem;
    transform: rotate(180deg);
    top: 0rem;
  }
}

.n-dropdown-label {
  color: $TypographyPrimaryColor;
  font-family: $PrimaryFont;
  font-size: $BaseFontSize + 4px;
  font-weight: 500;
  line-height: 2.1rem;
  display: flex;
  margin-left: 14px;
}

.n-dropdown-empty {
  display: flex;
  align-items: center;
  word-break: break-all;

  .n-add-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  p {
    margin: 0rem;
    margin-left: 1rem;
  }
}

.n-searchable-input-container {
  width: 100%;
  cursor: pointer;
  input {
    width: 100%;
    border: none;
    color: $TypographyPrimaryColor;
    background-color: transparent;
    font-size: 1.4rem;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
}

.horizantal-divider {
  // height: 0.1rem;
  width: 100%;
  background-color: lightgrey;
  margin: 0.5rem 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $PlaceholderColor;
  font-size: 1.4rem;
  font-family: $PrimaryFont;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $PlaceholderColor;
  font-size: 1.4rem;
  font-family: $PrimaryFont;
}

::placeholder {
  color: $PlaceholderColor;
  font-size: 1.4rem;
  font-family: $PrimaryFont;
}

.disabled {
  opacity: $DisabledOpacity;
  background: $ColorPrimaryDisabled;
  cursor: not-allowed;
}

.cursor-disabled {
  cursor: not-allowed !important;
}

.n-error-border {
  border-color: $ColorFeedbackError50 !important;
}

.n-warning-border {
  border-color: $ColorFeedbackWarning50 !important;
}

.n-success-border {
  border-color: $ColorFeedbackSuccess50 !important;
}

.n-default-border {
  border: 2px solid $WhiteColor;
  border-radius: 20px;
}

.n-white-border {
  border: 2px solid $WhiteColor;
}

.n-dropdown-tooltip {
  margin-left: 0.4rem;
  .nitrozen-svg-icon {
    height: 2rem;
    width: 2rem;
  }
}

.n-dropdown-search {
  &:active {
    background-color: $ColorPrimaryGrey20;
  }
}

.n-dropdown-search:focus::-webkit-input-placeholder {
  color: $TypographyPrimaryColor;
}

.n-dropdown-helper,
.n-dropdown-validation {
  margin-left: 1.2rem;
}

.n-no-data-container {
  border-bottom: 1px solid $ColorPrimaryGrey40;
}

.n-dropdown-prefix {
  height: 2.4rem;
  width: 2.4rem;

  &-icon-wrapper {
    display: flex;
  }
}

.n-dropdown-input-arrow-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}

.n-option-wrapper {
  display: flex;
  flex-direction: column;
  color: $ColorPrimaryGrey100;
  font-size: 1.6rem;
}

.n-option-subtext {
  font-size: 1.2rem;
  color: $TypographyPrimaryColor;
}
