@import "./../../base/base.scss";

.storybook-stepper-container {
  margin-inline: auto;
  max-width: 700px;
  min-height: 70vh;
  @include d-flex-center;
}

.nitrozen-stepper {
  margin: 0 auto;
  width: 100%;

  .nitrozen-stepper-group {
    display: flex;
    flex-grow: 10;
    flex-basis: 100%;
  }
  .nitrozen-checkmark {
    display: inline-block;
    position: absolute;
    @include absolute-position-center(rotate(45deg));
  }
  .stepper-description {
    color: $LabelColor;
    font-family: $PrimaryFont;
  }
  .nitrozen-text {
    font-family: $PrimaryFont;
    color: $TypographyPrimaryColor;
  }
  .nitrozen-bar {
    flex-grow: 1;
    position: relative;
  }
  .nitrozen-cirle-check-container {
    position: relative;
    display: flex;
    .completed-svg {
      color: $SuccessColor;
    }
  }
  .nitrozen-circle-outer {
    background-color: $WhiteColor;
    border-radius: 50%;
    display: inline-block;
  }
  .nitrozen-pointer {
    cursor: pointer;
  }
  .nitrozen-stepper-group:last-child {
    .nitrozen-bar:last-child {
      visibility: hidden;
    }
  }
  .nitrozen-flex-center {
    display: flex;
    align-items: center;
  }
  .nitrozen-text-disabled {
    color: $TypographyPrimaryColor;
  }
  .nitrozen-hidden {
    display: none;
  }
  .nitrozen-circle-outer-container {
    z-index: 1;
    display: flex;
    position: relative;
  }

  //VERTICAL STEPPER
  &.vertical {
    .nitrozen-stepper-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .nitrozen-stepper-group {
      column-gap: 16px;

      &.inactive-stepper {
        opacity: 0.3;
        pointer-events: none;
        filter: saturate(0.1);
      }
      .bar-ball-container {
        gap: 8px;
        flex-direction: column;
        justify-content: center;
      }
      .nitrozen-bar {
        width: 2px;
        background: $SecondaryDisabledColor;
        min-height: 20px;
        border-radius: 10px;

        &.completed-bar {
          background: $Bubbles;
        }
      }
      .index-number {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        background: $Bubbles;
        border-radius: 100%;
        @include d-flex-center;
        font-family: $PrimaryFont;
        color: $SeaGreen;
        font-weight: 600;
      }
      .stepper-icon {
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & svg {
          position: absolute;
          @include absolute-position-center;
        }
      }
      .active-stepper {
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        background: $Bubbles;
      }
      .nitrozen-text {
        font-size: $BaseFontSize + 2;
        font-weight: 600;
      }
      .stepper-description {
        font-size: $BaseFontSize;
        margin-top: 4px;
        line-height: 18px;
      }
      .nitrozen-circle-outer {
        height: 40px;
        width: 40px;
        border: 1px solid $SeaGreen;
      }
      .nitrozen-cirle-check-container .nitrozen-circle-outer {
        border: 1px solid $Bubbles;
      }
      .nitrozen-checkmark {
        height: 14px;
        width: 6px;
        border-bottom: 2px solid $SeaGreen;
        border-right: 2px solid $SeaGreen;
      }
      .stepper-header-description {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 12px;

        & .header-description {
          max-width: 78%;
        }

        & .heading-center {
          margin-top: 12px;
        }
      }
      .stepper-header-description button {
        align-self: center;
        min-width: 120px;
        cursor: pointer;
      }
    }
  }

  //HORIZONTAL STEPPER
  &.horizontal {
    .nitrozen-stepper-container {
      display: flex;
      gap: 8px;
    }
    .nitrozen-stepper-group {
      flex-direction: column;
      row-gap: 7px;
      .nitrozen-circle-outer {
        height: 14px;
        width: 14px;
        border: 1px solid $SuccessColor;
        transition: 0.2s ease;
      }
      .nitrozen-circle-inner {
        height: 12px;
        width: 12px;
        background-color: $SuccessColor;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        @include absolute-position-center;
      }
      &.active-group:hover .nitrozen-circle-outer {
        transform: scale(1.08);
      }
      .bar-ball-container {
        gap: 8px;
      }
      .nitrozen-checkmark {
        height: 6px;
        width: 3px;
        border-bottom: 1.5px solid $SuccessColor;
        border-right: 1.5px solid $SuccessColor;
      }
      .nitrozen-bar {
        flex-grow: 1;
        height: 1px;
      }
      .nitrozen-active {
        background-color: $SuccessColor;
      }
      .nitrozen-disabled {
        background-color: $SecondaryDisabledColor;

        &.nitrozen-circle-outer {
          visibility: hidden;
        }
      }
      .nitrozen-text {
        font-size: $BaseFontSize;
        font-weight: 400;
      }
      .stepper-description {
        font-size: $BaseFontSize - 2;
        line-height: 16px;
        margin-top: 2px;
        max-width: 85%;
        word-wrap: break-word;
      }
      .nitrozen-checkbox-hidden {
        display: none;
      }
    }
  }
}

.heading-progress {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  gap: 20px;
  line-height: 26px;

  .stepper-heading {
    display: inline-block;
    flex-grow: 1;
    font-family: $PrimaryFont;
    font-weight: 600;
    font-size: $BaseFontSize + 6;
    color: $TypographyPrimaryColor;
  }
}

.progress-circle {
  margin-left: auto;

  .svg-circle-container {
    height: 60px;
    width: 60px;
    position: relative;
  }

  span {
    font-size: $BaseFontSize;
    font-family: $PrimaryFont;
    color: $TypographyPrimaryColor;
  }

  svg,
  span {
    position: absolute;
    @include absolute-position-center;
    @include d-flex-center;
  }
  svg {
    height: 50px;
    width: 50px;
    fill: none;
    margin-left: auto;
    display: block;

    circle:nth-child(1) {
      stroke-linecap: round;
      stroke: $LightGrey;
    }
    circle:nth-child(2) {
      stroke-dasharray: 126;
      stroke-linecap: round;
      stroke: $Eucalyptus;
    }
  }
}
