@import "./../../base/base.scss";

.storybook-stepper-container {
  margin-inline: auto;
  max-width: 70rem;
  min-height: 70vh;
  @include d-flex-center;
}

.n-stepper {
  margin: 0 auto;
  width: 100%;
  font-size: $BaseFontSize + 6;

  .nitrozen-checkmark {
    display: inline-block;
    position: absolute;
    @include absolute-position-center(rotate(45deg));
    top: calc(50% - 0.2rem);
  }
  .stepper-description {
    color: $LabelColor;
    font-family: $PrimaryFont;
  }
  .n-text {
    font-family: $PrimaryFont;

    &.current {
      color: $ColorBlack;
    }

    &.upcoming {
      color: $JDSDefaultColor;
    }

    &.disabled {
      color: $JDSDefaultColor;
      opacity: 0.3;
    }

    &.issue {
      color: $ColorBlack;
    }

    &.completed {
      color: $JDSDefaultColor;
    }
  }
  .n-bar {
    flex-grow: 1;
    position: relative;
  }
  .nitrozen-cirle-check-container {
    position: relative;
    display: flex;
    .completed-svg {
      color: $SuccessColor;
    }
  }
  .n-circle-outer {
    background-color: $WhiteColor;
    border-radius: 50%;
    display: inline-block;
  }
  .nitrozen-pointer {
    cursor: pointer;
  }
  .n-stepper-group:last-child {
    .n-bar:last-child {
      visibility: hidden;
    }
  }
  .nitrozen-flex-center {
    display: flex;
    align-items: center;
  }
  .nitrozen-text-disabled {
    color: $TypographyPrimaryColor;
  }
  .nitrozen-hidden {
    display: none;
  }

  //VERTICAL STEPPER
  &.vertical {
    .n-stepper-container {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .n-stepper-group {
      --circle-size: 3.2rem;
      --spacing: 0.8rem;
    }

    .n-circle-outer-container {
      display: grid;
      align-items: center;
      grid-template-columns: 3.4rem auto;
      grid-template-rows: auto minmax(2rem, auto);
      grid-row-gap: 0.8rem;
      grid-column-gap: 1rem;
      cursor: pointer;
    }

    .n-stepper-group {
      column-gap: 1.6rem;

      &.inactive-stepper {
        opacity: 0.3;
        pointer-events: none;
        filter: saturate(0.1);
      }
      .bar-ball-container {
        gap: 0.8rem;
        flex-direction: column;
        justify-content: center;
      }
      .n-bar {
        width: 0.1rem;
        background: $SecondaryDisabledColor;
        min-height: 100%;
        border-radius: 1rem;
        justify-self: center;

        &.completed-bar {
          display: none;
        }
      }
      .n-circle-content {
        z-index: $ZIndex2;
        @include d-flex-center;
        font-family: $PrimaryFont;
        color: $ColorSparkle80;
        font-weight: 700;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &.current {
          background: $ColorSparkle50;
          color: $ColorSparkle80;
        }

        &.upcoming {
          background: none;
          color: $ColorPrimaryGrey60;
        }

        &.disabled {
          background: none;
          color: $ColorPrimaryGrey60;
          opacity: 0.3;
        }

        &.issue {
          background: $ColorSparkle20;
          color: $ColorSparkle60;
        }

        &.completed {
          background: $ColorSparkle20;
          color: $ColorSparkle50;
        }
      }
      .stepper-icon {
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & svg {
          position: absolute;
          @include absolute-position-center;
        }
      }
      .active-stepper {
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        background: $Bubbles;
      }
      .n-text {
        font-size: $BaseFontSize + 4;
        font-weight: 500;
      }
      .stepper-description {
        font-size: $BaseFontSize + 2;
        margin-top: 0.4rem;
        line-height: 1.8rem;
      }
      .n-circle-outer {
        height: var(--circle-size);
        width: var(--circle-size);

        &.nitrozen-circle-border {
          border: 0.1rem;
          border-style: solid;

          &.current {
            border-color: $ColorSparkle50;
          }

          &.upcoming {
            border-color: $ColorPrimaryGrey60;
          }

          &.disabled {
            border-color: $ColorPrimaryGrey60;
            opacity: 0.3;
          }

          &.issue {
            border-color: $ColorSparkle60;
          }

          &.completed {
            border-color: $ColorSparkle50;
          }
        }
      }
      .nitrozen-cirle-check-container .n-circle-outer {
        border: 0.1rem solid $Bubbles;
      }
      .nitrozen-checkmark {
        height: 1.4rem;
        width: 0.6rem;
        border-bottom: 0.2rem solid $SeaGreen;
        border-right: 0.2rem solid $SeaGreen;
      }
      .stepper-header-description {
        & .header-description {
          max-width: 88%;
        }

        & .heading-center {
          margin-top: 1.2rem;
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          justify-content: flex-start;
          gap: 1rem;

          & .heading-center {
            margin-top: 0.2rem;
          }
        }
      }
      .stepper-header-description button {
        align-self: center;
        min-width: 12rem;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          align-self: flex-start;
        }
      }
    }
  }

  //HORIZONTAL STEPPER
  &.horizontal {
    .n-stepper-group {
      --circle-size: 3.2rem;
      --spacing: 0.8rem;
      display: flex;
      flex-grow: 10;
      flex-basis: 100%;
    }

    .n-circle-outer-container {
      z-index: $ZIndex1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .n-stepper-group:not(:last-child):after {
      content: "";
      position: relative;
      top: 1.6rem;
      height: 1px;
      background-color: #e0e0e0;
      order: -1;
      width: calc(100% - var(--circle-size) - calc(var(--spacing)));
      left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
    }

    .n-stepper-container {
      display: flex;
      gap: 0.8rem;
    }
    .n-stepper-group {
      flex-direction: column;
      text-align: center;

      .n-circle-outer {
        height: var(--circle-size);
        width: var(--circle-size);
        @include d-flex-center;
        border-radius: 100%;

        &.current {
          background: $ColorSparkle50;
          color: $ColorSparkle80;
          border: 0.1rem solid $ColorSparkle50;
        }

        &.upcoming {
          background: none;
          color: $ColorPrimaryGrey60;
          border: 0.1rem solid $ColorPrimaryGrey60;
        }

        &.disabled {
          background: none;
          color: $ColorPrimaryGrey60;
          opacity: 0.3;
          border: 0.1rem solid $ColorPrimaryGrey60;
        }

        &.issue {
          background: $ColorSparkle20;
          color: $ColorSparkle60;
          border: 0.1rem solid $ColorSparkle60;
        }

        &.completed {
          background: $ColorSparkle20;
          color: $ColorSparkle50;
          border: 0.1rem solid $ColorSparkle50;
        }
      }
      .nitrozen-circle-inner {
        font-family: $PrimaryFont;
        color: $ColorSparkle80;
        font-weight: 600;
      }

      .stepper-header-description {
        margin-top: 1rem;
      }
      .bar-ball-container {
        gap: 0.8rem;
      }
      .nitrozen-checkmark {
        height: 0.6rem;
        width: 0.3rem;
        border-bottom: 0.15rem solid $SuccessColor;
        border-right: 0.15rem solid $SuccessColor;
      }
      .n-bar {
        flex-grow: 1;
        height: 0.1rem;
      }
      .nitrozen-active {
        background-color: $SuccessColor;
      }
      .nitrozen-disabled {
        background-color: $SecondaryDisabledColor;

        &.n-circle-outer {
          visibility: hidden;
        }
      }
      .n-text {
        font-size: $BaseFontSize + 4;
        font-weight: 500;
      }
      .stepper-description {
        font-size: $BaseFontSize;
        line-height: 1.6rem;
        margin-top: 0.2rem;
        max-width: 85%;
        word-wrap: break-word;
      }
      .nitrozen-checkbox-hidden {
        display: none;
      }
    }
  }
}

.heading-progress {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
  gap: 2rem;
  line-height: 2.6rem;

  .stepper-heading {
    display: inline-block;
    flex-grow: 1;
    font-family: $PrimaryFont;
    font-weight: 600;
    font-size: $BaseFontSize + 8;
    color: $TypographyPrimaryColor;
  }
}

.progress-circle {
  margin-left: auto;

  .svg-circle-container {
    height: 6rem;
    width: 6rem;
    position: relative;
  }

  span {
    font-size: $BaseFontSize + 2;
    font-family: $PrimaryFont;
    color: $TypographyPrimaryColor;
  }

  svg,
  span {
    position: absolute;
    @include absolute-position-center;
    @include d-flex-center;
  }
  svg {
    height: 5rem;
    width: 5rem;
    fill: none;
    margin-left: auto;
    display: block;

    circle:nth-child(1) {
      stroke-linecap: round;
      stroke: $LightGrey;
    }
    circle:nth-child(2) {
      stroke-dasharray: 126;
      stroke-linecap: round;
      stroke: $Eucalyptus;
    }
  }
}
