@import "./../../base/base.scss";

.storybook-stepper-container {
  margin-inline: auto;
  max-width: 70rem;
  min-height: 70vh;
  @include d-flex-center;
}

.nitrozen-stepper {
  margin: 0 auto;
  width: 100%;
  font-size: $BaseFontSize + 6;
  .nitrozen-stepper-group {
    display: flex;
    flex-grow: 10;
    flex-basis: 100%;
  }
  .nitrozen-checkmark {
    display: inline-block;
    position: absolute;
    @include absolute-position-center(rotate(45deg));
    top: calc(50% - 0.2rem);
  }
  .stepper-description {
    color: $LabelColor;
    font-family: $PrimaryFont;
  }
  .nitrozen-text {
    font-family: $PrimaryFont;
    color: $TypographyPrimaryColor;
  }
  .nitrozen-bar {
    flex-grow: 1;
    position: relative;
  }
  .nitrozen-cirle-check-container {
    position: relative;
    display: flex;
    .completed-svg {
      color: $SuccessColor;
    }
  }
  .nitrozen-circle-outer {
    background-color: $WhiteColor;
    border-radius: 50%;
    display: inline-block;
  }
  .nitrozen-pointer {
    cursor: pointer;
  }
  .nitrozen-stepper-group:last-child {
    .nitrozen-bar:last-child {
      visibility: hidden;
    }
  }
  .nitrozen-flex-center {
    display: flex;
    align-items: center;
  }
  .nitrozen-text-disabled {
    color: $TypographyPrimaryColor;
  }
  .nitrozen-hidden {
    display: none;
  }
  .nitrozen-circle-outer-container {
    z-index: $ZIndex1;
    display: flex;
    position: relative;
  }

  //VERTICAL STEPPER
  &.vertical {
    .nitrozen-stepper-container {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    .nitrozen-stepper-group {
      column-gap: 1.6rem;

      &.inactive-stepper {
        opacity: 0.3;
        pointer-events: none;
        filter: saturate(0.1);
      }
      .bar-ball-container {
        gap: 0.8rem;
        flex-direction: column;
        justify-content: center;
      }
      .nitrozen-bar {
        width: 0.1rem;
        background: $SecondaryDisabledColor;
        min-height: 2rem;
        border-radius: 1rem;

        &.completed-bar {
          background: $Bubbles;
        }
      }
      .index-number {
        position: absolute;
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        background: $Bubbles;
        border-radius: 100%;
        @include d-flex-center;
        font-family: $PrimaryFont;
        color: $SeaGreen;
        font-weight: 600;
      }
      .stepper-icon {
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & svg {
          position: absolute;
          @include absolute-position-center;
        }
      }
      .active-stepper {
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        background: $Bubbles;
      }
      .nitrozen-text {
        font-size: $BaseFontSize + 4;
        font-weight: 600;
      }
      .stepper-description {
        font-size: $BaseFontSize + 2;
        margin-top: 0.4rem;
        line-height: 1.8rem;
      }
      .nitrozen-circle-outer {
        height: 4rem;
        width: 4rem;
        border: 0.1rem solid $SeaGreen;
      }
      .nitrozen-cirle-check-container .nitrozen-circle-outer {
        border: 0.1rem solid $Bubbles;
      }
      .nitrozen-checkmark {
        height: 1.4rem;
        width: 0.6rem;
        border-bottom: 0.2rem solid $SeaGreen;
        border-right: 0.2rem solid $SeaGreen;
      }
      .stepper-header-description {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 1.2rem;

        & .header-description {
          max-width: 88%;
        }

        & .heading-center {
          margin-top: 1.2rem;
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          justify-content: flex-start;
          gap: 1rem;

          & .heading-center {
            margin-top: 0.2rem;
          }
        }
      }
      .stepper-header-description button {
        align-self: center;
        min-width: 12rem;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          align-self: flex-start;
        }
      }
    }
  }

  //HORIZONTAL STEPPER
  &.horizontal {
    .nitrozen-stepper-container {
      display: flex;
      gap: 0.8rem;
    }
    .nitrozen-stepper-group {
      flex-direction: column;
      row-gap: 0.7rem;
      .nitrozen-circle-outer {
        height: 1.4rem;
        width: 1.4rem;
        border: 0.1rem solid $SuccessColor;
        transition: 0.2s ease;
      }
      .nitrozen-circle-inner {
        height: 1.2rem;
        width: 1.2rem;
        background-color: $SuccessColor;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        @include absolute-position-center;
      }
      &.active-group:hover .nitrozen-circle-outer {
        transform: scale(1.08);
      }
      .bar-ball-container {
        gap: 0.8rem;
      }
      .nitrozen-checkmark {
        height: 0.6rem;
        width: 0.3rem;
        border-bottom: 0.15rem solid $SuccessColor;
        border-right: 0.15rem solid $SuccessColor;
      }
      .nitrozen-bar {
        flex-grow: 1;
        height: 0.1rem;
      }
      .nitrozen-active {
        background-color: $SuccessColor;
      }
      .nitrozen-disabled {
        background-color: $SecondaryDisabledColor;

        &.nitrozen-circle-outer {
          visibility: hidden;
        }
      }
      .nitrozen-text {
        font-size: $BaseFontSize + 2;
        font-weight: 400;
      }
      .stepper-description {
        font-size: $BaseFontSize;
        line-height: 1.6rem;
        margin-top: 0.2rem;
        max-width: 85%;
        word-wrap: break-word;
      }
      .nitrozen-checkbox-hidden {
        display: none;
      }
    }
  }
}

.heading-progress {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
  gap: 2rem;
  line-height: 2.6rem;

  .stepper-heading {
    display: inline-block;
    flex-grow: 1;
    font-family: $PrimaryFont;
    font-weight: 600;
    font-size: $BaseFontSize + 8;
    color: $TypographyPrimaryColor;
  }
}

.progress-circle {
  margin-left: auto;

  .svg-circle-container {
    height: 6rem;
    width: 6rem;
    position: relative;
  }

  span {
    font-size: $BaseFontSize + 2;
    font-family: $PrimaryFont;
    color: $TypographyPrimaryColor;
  }

  svg,
  span {
    position: absolute;
    @include absolute-position-center;
    @include d-flex-center;
  }
  svg {
    height: 5rem;
    width: 5rem;
    fill: none;
    margin-left: auto;
    display: block;

    circle:nth-child(1) {
      stroke-linecap: round;
      stroke: $LightGrey;
    }
    circle:nth-child(2) {
      stroke-dasharray: 126;
      stroke-linecap: round;
      stroke: $Eucalyptus;
    }
  }
}
