@import "./../../base/base.scss";

.n-pagination-container {
  font-family: $PrimaryFont;
  color: $TypographyPrimaryColor;
  border: 1px solid $ColorPrimaryGrey60;
  border-radius: 1.2rem;
  padding: 1.2rem;

  .n-pagination {
    display: flex;
    font-size: 1.4rem;
    color: $LabelColor;
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    .n-pagination__left {
      flex: 1;
      display: flex;
      align-items: center;
      color: $ColorPrimaryGrey80;
      @media only screen and (max-width: $sm-min) {
        display: none;
      }
      .n-pagination__count {
        color: $ColorPrimaryGrey80;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
        @media only screen and (max-width: $sm-min) {
          font-size: 1.2rem;
        }
      }
    }
    .mobile_view {
      display: none;
      @media only screen and (max-width: $sm-min) {
        display: flex;
      }
    }
    .n-pagination__main {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
      @media only screen and (max-width: $sm-min) {
        gap: 1.8rem;
        width: 100%;
      }
      .n-pagination__number {
        display: flex;
        gap: 0.8rem;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        @media only screen and (max-width: $sm-min) {
          gap: 0.5rem;
        }
      }
      .n-pagination__showpopup {
        position: absolute;
        padding: 1.2rem;
        z-index: 1;
        background: $ColorPrimaryBackground;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 8%);
        border-radius: 1.6rem;
        width: 18.5rem;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        bottom: 6rem;
        .n-pagination__search_input {
          border: 1px solid $ColorPrimaryGrey60;
          border-radius: 1.2rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;
          input::placeholder {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: -0.005em;
            color: $ColorPrimaryGrey80;
          }
          .n-pagination__search_logo {
            padding-top: 0.5rem;
          }
          .n-input {
            border: 0px;
            min-width: 0px;
            width: 100%;
            background: none;
            position: relative;
            outline: none;
            box-sizing: border-box;
            font-size: 1.6rem;
            -webkit-appearance: none;
            display: block;
            -webkit-tap-highlight-color: transparent;
          }
        }
        ::-webkit-scrollbar {
          width: 0.25rem;
          border-radius: 0px 0px 48px 48px;
          left: 0.25rem;
          top: 0.25rem;
        }
        ::-webkit-scrollbar-track {
          background: $ColorPrimaryBackground;
        }
        ::-webkit-scrollbar-thumb {
          background: $ColorPrimaryGrey40;
        }
        ::-webkit-scrollbar-thumb:hover {
          background: $ColorPrimaryGrey40;
        }
        .n-pagination__search_wrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(4, 1fr);
          flex-wrap: wrap;
          overflow: auto;
          height: 10.5rem;
          .n-pagination__search_number_inactive {
            height: 4rem;
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            flex: 1 0 21%;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $ColorPrimaryGrey60;
            cursor: pointer;
          }
          .n-pagination__search_number_active {
            color: $ColorPrimaryGrey80;
          }
        }
      }
      .n-pagination__popup_left {
        right: 20rem;
        @media only screen and (max-width: $sm-min) {
          right: 10rem;
        }
      }
      .n-pagination__popup_right {
        left: 20rem;
        @media only screen and (max-width: $sm-min) {
          left: 10rem;
        }
      }
      .n-pagination__number_inactive {
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $ColorPrimaryGrey60;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.4rem;
        cursor: pointer;
        @media only screen and (max-width: $sm-min) {
          height: 3.2rem;
          width: 3.2rem;
        }
      }
      .n-pagination__number_active {
        background: $ColorPrimary50;
        color: $ColorWhite;
      }
      .n-pagination__dot_active {
        background: $ColorPrimary20;
        color: $ColorPrimary50;
      }
    }

    .n-pagination__right {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      gap: 0.8rem;

      .n-pagination__select {
        display: flex;
        align-items: center;
        border: 1px solid $ColorPrimaryGrey60;
        border-radius: 1.2rem;
        position: relative;
        .n-pagination__select__label {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: $ColorPrimaryGrey80;
          padding-left: 1.2rem;
        }
        .n-pagination-page-size .n-select-wrapper {
          position: unset;
        }
        .n-pagination-page-size .n-select-wrapper .n-select {
          position: unset;
        }
        .n-pagination-page-size .n-select-wrapper .n-options {
          bottom: 4rem;
          top: auto;
        }
        .n-pagination-page-size .n-select-wrapper .n-select__trigger {
          border: 0;
          padding: 0.8rem;
          background: $ColorPrimaryBackground;
          color: var(--TypographyPrimaryColor, $ColorPrimaryGrey80);
        }
        &__label {
          @media only screen and (max-width: $sm-min) {
            display: none;
          }
        }

        .n-pagination-page-size {
          width: 7.2rem;
          margin: 0 1.2rem;
        }
      }
    }
  }
}
.n-pagination__prev,
.n-pagination__next {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.pagination-diabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
.sb-pagination {
  width: 100%;
}
