@import "./../../base/base.scss";

.nitrozen-pagination-container {
  font-family: $PrimaryFont;
  color: $TypographyPrimaryColor;
  padding: 1.2rem;

  .nitrozen-pagination {
    display: flex;
    font-size: 1.4rem;
    color: $LabelColor;
    font-size: 1.4rem;
    font-weight: 400;
    .pagination-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .nitrozen-pagination__prev,
    .nitrozen-pagination__next {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 0.8rem;

      svg {
        width: 2.4rem;
        height: 2.4rem;
      }

      :hover {
        color: #000093;
        background: #e8e8fc;
        border-radius: 50%;
      }
    }
    .nitrozen-pagination__count {
      display: flex;
      align-items: center;
    }
    .pagination-diabled {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.sb-pagination {
  border: 0.1rem solid $LilyWhite;
  padding: 0.8rem;
}
