@import "../../base/base.scss";

.n-toggle-container {
  display: flex;
  align-items: center;

  .n-switch {
    position: relative;
    display: inline-block;

    &.small {
      height: 2rem;
      width: 4rem;
    }

    &.medium {
      height: 2.4rem;
      width: 4.8rem;
    }

    //DEFAULT
    &.large {
      height: 2.8rem;
      width: 5.6rem;
    }

    .n-disabled {
      cursor: not-allowed !important;

      &:hover {
        border-color: $ColorPrimaryGrey80 !important;
      }
    }

    .checked:hover {
      border-color: $ColorPrimary50 !important;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .n-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0px;
      right: 0;
      bottom: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid $ColorPrimaryGrey80;
      border-radius: 200px;
      padding: 0rem;
      box-sizing: border-box;

      &:hover {
        border: 1px solid $ColorPrimary50;
      }

      &.n-disabled {
        background: $VeryLightGrey;
      }
    }

    .slider-ball {
      position: absolute;
      right: 92%;
      bottom: 50%;
      -webkit-transform: translate(100%, 50%);
      -ms-transform: translate(100%, 50%);
      transform: translate(100%, 50%);
      background-color: $ColorPrimaryGrey80;
      box-shadow: 0 0 0.1rem 0 rgb(0 0 0 / 12%),
        0 0.1rem 0.1rem 0 rgb(0 0 0 / 24%);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &.small .slider-ball {
      height: 1.2rem;
      width: 1.2rem;
    }

    &.medium .slider-ball {
      height: 1.6rem;
      width: 1.6rem;
    }

    &.large .slider-ball {
      height: 2rem;
      width: 2rem;
    }

    .n-disable .slider-ball {
      background: $SecondaryDisabledColor;
    }

    .n-slider.checked {
      background-color: $ColorPrimary50;
      border-color: $ColorPrimary50;

      &:hover {
        background-color: $ColorPrimary60;
        border-color: $ColorPrimary60;
      }

      &.n-disabled {
        background: change-color($Portage, $lightness: 94%);
      }
    }

    // input:focus+.n-slider {
    //   box-shadow: 0 0 0.1rem $SecondaryColor;
    // }

    .n-slider.checked .slider-ball {
      right: 8%;
      -webkit-transform: translate(0%, 50%);
      -ms-transform: translate(0%, 50%);
      transform: translate(0%, 50%);
      background-color: $ColorWhite;
      border-color: $ColorPrimary50;
      border-radius: 200px;
    }

    .n-disabled.checked .slider-ball {
      background: $Portage;
    }

    .label-text {
      position: absolute;
      cursor: pointer;
      color: $ColorPrimaryGrey80;

      &:hover {
        color: $ColorPrimaryGrey100;
      }
    }

    .label-text.checked {
      color: $ColorPrimaryGrey100;
    }

    &.small .label-text {
      left: 4.5rem;
      font-size: 1.4rem;
      padding: 0.18rem;
    }

    &.medium .label-text {
      left: 6rem;
      font-size: 1.6rem;
      padding: 0.25rem;
    }

    &.large .label-text {
      left: 7.5rem;
      font-size: 2rem;
      padding: 0.35rem;
    }
  }
}

.n-slider.n-round {
  border-radius: 3rem;
}

.n-round .slider-ball {
  border-radius: 50%;
}

//DEMO
.all-togglebtn-sections {
  @include d-flex-center;
  align-items: flex-start;
  gap: 3.4rem;

  .section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    span {
      font-family: $PrimaryFont;
      font-size: $BaseFontSize + 2;
    }
  }
}
