@import "./../../base/base.scss";

.n-nudge {
  user-select: none;

  &-container-main {
    position: fixed;
    z-index: $ZIndex3;
    display: flex;
    flex-direction: column;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $ColorSecondaryGrey80;
    border-radius: pxToRem(24);
    width: pxToRem(384);
    padding: pxToRem(16);
    margin-bottom: pxToRem(10);

    @media screen and (max-width: 768px) {
      width: pxToRem(344);
    }

    @media screen and (max-width: 425px) {
      width: pxToRem(328);
    }
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left-section {
    display: flex;
    align-items: center;
  }

  &-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: pxToRem(10);
    gap: pxToRem(4);
  }

  &-header {
    color: $WhiteColor;
    font-size: pxToRem(16);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: pxToRem(300);
    user-select: none;
  }

  &-support {
    color: $WhiteColor;
    font-weight: 500;
    font-size: pxToRem(14);
    user-select: none;
  }

  &-image-container {
    height: pxToRem(40);
    width: pxToRem(40);
    object-fit: contain;
    border-radius: pxToRem(6);

    img {
      height: 100%;
      width: 100%;
      border-radius: pxToRem(4);
    }
  }

  &-bottom {
    display: flex;
    justify-content: flex-end;
    gap: pxToRem(12);
    margin-top: pxToRem(16);

    .n-nudge-cta1 {
      background-color: transparent;
      font-size: pxToRem(16);
      font-weight: 700;

      &:hover {
        background-color: transparent;
      }

      &:active {
        color: $WhiteColor;
      }
    }

    .n-nudge-cta2 {
      border: pxToRem(1) solid $ColorPrimaryGrey60;
      background-color: transparent;
      font-size: pxToRem(16);
      font-weight: 700;

      &:hover {
        background-color: transparent;
      }

      &:active {
        color: $WhiteColor;
      }
    }
  }
}

.n-nudge-top-right {
  top: pxToRem(50);
  right: pxToRem(50);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  animation: nudge-in-right 0.7s;
  @media screen and (max-width: 425px) {
    right: unset;
  }
}

.n-nudge-top-bottom {
  top: 10%;
  left: 35%;
  transition: transform 0.6s ease-in-out;
  animation: nudge-top 0.7s;

  @media screen and (max-width: 768px) {
    left: 25%;
  }

  @media screen and (max-width: 425px) {
    left: unset;
  }
}

@-webkit-keyframes nudge-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-o-keyframes nudge-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-moz-keyframes nudge-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes nudge-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes nudge-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@-moz-keyframes nudge-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@-o-keyframes nudge-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes nudge-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
