@import "./../../base/base.scss";
.n-autocomplete-wrapper {
  width: 100%;
  position: relative;
  .n-autocomplete {
    font-family: $PrimaryFont;
    gap: pxToRem(8);
    margin-left: auto;
    margin-right: auto;
    height: pxToRem(48);
    background: $ColorPrimaryInverse;
    border: pxToRem(1) solid $ColorPrimaryGrey60;
    border-radius: pxToRem(16);
    position: relative;
    display: flex;
    color: $ColorPrimaryGrey80;
    .n-pre-input-icon,
    .n-suf-input-icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      svg {
        color: $ColorPrimaryGrey80;
      }
    }
    .n-search-loading {
      animation: loading 0.7s infinite ease-in-out;
      @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(90deg);
        }
        50% {
          transform: rotate(180deg);
        }
        75% {
          transform: rotate(270deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .n-suf-icon-back {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &:hover :not(&.n-autocomplete-disabled) {
      input[type="text"] {
        &::placeholder {
          color: $ColorPrimaryGrey100;
        }
      }
      .n-pre-input-icon,
      .n-suf-input-icon {
        svg {
          color: $ColorPrimaryGrey100;
        }
      }
    }

    &.n-autocomplete-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.n-autocomplete-focussed {
      border: pxToRem(2) solid $PrimaryColor;
    }
    .n-pre-input-icon {
      left: pxToRem(12);
    }
    .n-suf-input-icon {
      right: pxToRem(12);
    }
    input[type="text"] {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      border-radius: pxToRem(16);
      width: 100%;
      padding: pxToRem(8) pxToRem(16);
      padding-right: pxToRem(12);
      color: $ColorPrimaryGrey100;
      outline: none;
      font-family: "NitrozenType", helvetica, arial, sans-serif;
      font-weight: 500;
      text-transform: none;
      font-size: pxToRem(16);
      letter-spacing: pxToRem(-0.08);
      line-height: 1.5;
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $ColorPrimaryGrey80;
        font-size: pxToRem(16);
        opacity: 1; /* Firefox */
      }
      &:hover {
        cursor: text;
        color: $ColorPrimaryGrey100;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    input[type="text"].n-pre-input {
      padding-left: pxToRem(48);
    }

    input[type="text"].n-suf-input {
      padding-right: pxToRem(48);
    }
  }

  .n-autocomplete-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $ColorPrimaryInverse;
    box-shadow: pxToRem(0) pxToRem(4) pxToRem(16) $Shadow;
    border-radius: pxToRem(24);
    max-height: pxToRem(336);
    overflow-y: scroll;
    position: absolute;
    z-index: $ZIndex3;
    list-style: none;
    width: 100%;
    padding: 0;
    .n-autocomplete-result-item {
      display: flex;
      align-items: center;
      height: pxToRem(42);
      font-style: normal;
      font-weight: 500;
      font-size: pxToRem(16);
      line-height: pxToRem(24);
      border-radius: pxToRem(16);
      width: 100%;
      letter-spacing: -0.005em;
      color: $ColorPrimaryGrey100;
      padding: pxToRem(12);
      cursor: pointer;
      &:hover,
      &.n-autocomplete-result-item-active {
        background: $ColorPrimaryGrey20;
        border-radius: 0;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: pxToRem(16);
        padding: pxToRem(4);
        color: $ColorPrimaryGrey100;
        &.n-autocomplete-result-item-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.n-autocomplete-result-item-icon {
          height: pxToRem(32);
          width: pxToRem(32);
          border-radius: 50%;
          background-color: $ColorPrimaryGrey20;
        }
      }
    }
  }
}
