@import "./../../base/base.scss";

.nitrozen-menu-item {
  font-size: $BaseFontSize + 4;
  color: $TypographyPrimaryColor;
  padding: 1.2rem;
  word-break: break-all;
  line-height: 2.1rem;
  &:hover {
    background-color: $PrimaryColor;
    color: $WhiteColor;
  }
}
