@import "./../../base/base.scss";

.nitrozen-menu-item {
  font-size: $BaseFontSize + 2;
  color: $TypographyPrimaryColor;
  padding: 12px;
  word-break: break-all;
  line-height: 21px;
  &:hover {
    background-color: $PrimaryColor;
    color: $WhiteColor;
  }
}
