@import "./../../base/base.scss";

.nitrozen-radio-group {
  height: 2.1rem;
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    line-height: 1.5rem;
    color: $TypographyPrimaryColor;
    font-family: $PrimaryFont;
    font-size: $BaseFontSize + 5;
    font-weight: 400;
    display: flex;
    height: 100%;
    align-items: center;
  }
  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.2rem solid $PinkSwan;
    border-radius: 100%;
    background: $WhiteColor;
  }
  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: $PrimaryColor;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 100%;
  }

  input[type="radio"]:not(:checked) + label:before {
    border: 0.2rem solid $PinkSwan;
  }
  input[type="radio"]:checked + label:before {
    border: 0.2rem solid $PrimaryColor;
  }

  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  input[type="radio"]:disabled + label {
    opacity: 0.5;
    pointer-events: none;
  }

  input[type="radio"]:not(:checked):disabled + label:before {
    background-color: $Whisper;
  }
}

.radio-story {
  box-sizing: border-box;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  gap: 1rem;
  width: 14.6rem;
  height: 4rem;
}
