@import "./../../base/base.scss";

.n-input {
  color: $TypographyPrimaryColor;
  border: 0px;
  min-width: 0px;
  width: 100%;
  background: none;
  font-family: $PrimaryFont;
  position: relative;
  outline: none;
  box-sizing: border-box;
  font-size: pxToRem(16);
  -webkit-appearance: none;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.input-prefixed {
  margin-left: pxToRem(30);
  width: calc(100% - pxToRem(30));
}

.input-suffixed {
  width: calc(100% - pxToRem(30));
}

.input-contained {
  margin-left: pxToRem(30);
  width: calc(100% - pxToRem(60));
}

.n-input-container {
  width: inherit;
  padding: pxToRem(12);
  border: pxToRem(2) solid $ColorSparkleGrey60;
  border-radius: pxToRem(16);
  display: flex;

  &:hover {
    border: pxToRem(2) solid $ColorPrimary60;
  }
}

.n-input-grp {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.n-input-label-container {
  display: flex;
  font-weight: 400;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0px;
  // transform-origin: left top;
  max-width: 100%;
  margin-left: pxToRem(12);
}

.n-input-label-default {
  left: 0;
}

.n-input-label-prefixed {
  left: pxToRem(30);
}

.n-input-textarea {
  height: pxToRem(96);
  line-height: pxToRem(21);
  padding-top: pxToRem(6);
}

.n-input:disabled {
  background: $HoverColor;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.n-input:disabled + .n-input-label {
  opacity: 0.5;
}

.n-form-input {
  outline: none;
  flex-direction: column;
  display: inline-flex;
  min-width: 0px;
  position: relative;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  width: 100%;
}

.n-input-label {
  color: $LabelColor;
  font-family: $PrimaryFont;
  font-size: pxToRem(14);
  font-weight: 500;
  line-height: pxToRem(21);
  display: flex;
  flex: 1;
  p {
    margin: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
  }
}

.n-input-maxLength {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: pxToRem(14);
  color: $TypographyPrimaryColor;
  opacity: 0.4;
  margin-right: pxToRem(12);
}

.n-input-grp:focus-within + .n-input-label-container > .n-input-label {
  color: $PrimaryColor !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $PlaceholderColor;
  font-size: pxToRem(16);
  font-family: $PrimaryFont;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $PlaceholderColor;
  font-size: pxToRem(16);
  font-family: $PrimaryFont;
}

::placeholder {
  color: $PlaceholderColor;
  font-size: pxToRem(16);
  font-family: $PrimaryFont;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: pxToRem(10);
  font-size: pxToRem(14);
  cursor: pointer;
}

.n-search-icon {
  z-index: $ZIndex1;
  position: absolute;
  // left: 0;
  // top: 0;
  left: pxToRem(10);
  top: 25%;
}

.n-input-label-div {
  display: flex;
  justify-content: space-between;
}

.n-input-prefix,
.n-input-suffix {
  height: 100%;
  width: pxToRem(22);
  margin: auto;
  box-sizing: border-box;
  border-radius: pxToRem(3);
  background: none;
  position: absolute;

  svg {
    height: 100%;
    width: 100%;
  }
}

.n-prefix-position {
  top: 0;
}

.n-suffix-position {
  top: 0;
  right: pxToRem(10);
}

.n-remove-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: $WhiteColor;
}

.n-remove-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: $WhiteColor;
}

.n-prefix-padding,
.n-suffix-padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: vertical;
}

.search-icon {
  font-size: pxToRem(24);
  color: $Gray;
}

.n-input-underinfo {
  color: $PrimaryGrey80;
  position: relative;
  // margin-top: calc($SpacingXs + 1px);
  margin-left: pxToRem(12);
}

.n-helper-text {
  display: block;
  font-weight: 500;
  text-transform: none;
  font-size: pxToRem(14);
  letter-spacing: -0.07px;
  line-height: 1.4285714286;
  word-wrap: break-word;
  color: $TypographyPrimaryColor;
  margin-top: pxToRem(4);
}

.n-field-error {
  color: $ColorFeedbackError80;
}

.n-field-success {
  color: $ColorFeedbackSuccess80;
}

.n-field-warning {
  color: $ColorFeedbackWarning80;
}

.n-error-border::after {
  border-bottom: pxToRem(2) solid $ColorFeedbackError50;
}

.n-warning-border::after {
  border-bottom: pxToRem(2) solid $ColorFeedbackWarning50;
}

.n-success-border::after {
  border-bottom: pxToRem(2) solid $ColorFeedbackSuccess50;
}

.n-password-eye {
  cursor: pointer;
}

.n-input-group-disabled {
  opacity: 0.4;
  background-color: $WhiteColor;
}

.n-input-tooltip {
  margin-left: pxToRem(5);

  .nitrozen-svg-icon {
    height: pxToRem(20);
    width: pxToRem(20);
  }
}

.n-focused-border {
  border: pxToRem(2) solid $ColorPrimary60 !important;
  border-radius: pxToRem(16);
}

.n-input:hover::placeholder {
  color: $ColorPrimaryGrey80;
  font-weight: 500;
}
