@import "./../../base/base.scss";

.n-input {
  padding: 1px 0px 5px;
  height: 2em;
  color: $TypographyPrimaryColor;
  border: 0px;
  min-width: 0px;
  width: 100%;
  background: none;
  font-family: $PrimaryFont;
  position: relative;
  outline: none;
  box-sizing: border-box;
  font-size: $BaseFontSize + 4;
  -webkit-appearance: none;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.input-prefixed {
  margin-left: 30px;
  width: calc(100% - 30px);
}

.input-suffixed {
  width: calc(100% - 30px);
}

.input-contained {
  margin-left: 30px;
  width: calc(100% - 60px);
}

.n-input-container {
  width: inherit;

  &::before {
    border-bottom: 1px solid $InactiveFieldBorder;
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }

  &::after {
    border-bottom: 2px solid $ActiveFieldBorder;
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }
}

.n-border-focused::after {
  transform: scaleX(1) translateX(0);
}

.n-input-grp {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}

.n-input-label-container {
  display: flex;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  position: absolute;
  top: 0px;
  transform: translate(0px, 17px) scale(1);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.n-input-label-default {
  left: 0;
}

.n-input-label-prefixed {
  left: 30px;
}

.n-focused-label {
  transform: none;
}

.n-focused-label-prefixed {
  transform: translate(-30px, -2px) scale(1);
}

.n-input-textarea {
  height: 9.6rem;
  line-height: 2.1rem;
  padding-top: 0.6rem;
}

.n-input:disabled {
  background: $HoverColor;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.n-input:disabled + .n-input-label {
  opacity: 0.5;
}

.n-form-input {
  outline: none;
  flex-direction: column;
  display: inline-flex;
  min-width: 0px;
  position: relative;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  width: 100%;
}

.n-input-label {
  color: $LabelColor;
  font-family: $PrimaryFont;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.1rem;
  display: flex;
  flex: 1;
}

.n-input-maxLength {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.n-input-grp:focus-within + .n-input-label-container > .n-input-label {
  color: $PrimaryColor !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

::placeholder {
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 1rem;
  font-size: $BaseFontSize + 0.4;
  cursor: pointer;
}

.n-search-icon {
  z-index: $ZIndex1;
  position: absolute;
  left: 0;
  top: 0;
}

.n-input-label-div {
  display: flex;
  justify-content: space-between;
}

.n-input-prefix,
.n-input-suffix {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background: none;
  position: absolute;
}

.n-prefix-position {
  top: 0px;
}

.n-suffix-position {
  top: 0px;
  right: 0px;
}

.n-remove-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: $WhiteColor;
}

.n-remove-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: $WhiteColor;
}

.n-prefix-padding,
.n-suffix-padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: vertical;
}

.search-icon {
  font-size: 2.4rem;
  color: $Gray;
}

.n-input-underinfo {
  color: $PrimaryGrey80;
  position: relative;
  margin-top: calc($SpacingXs + 1px);
}

.n-helper-text {
  display: block;
  font-weight: 500;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: -0.07px;
  line-height: 1.4285714286;
}

.n-field-error {
  color: $ColorFeedbackError80;
}

.n-field-success {
  color: $ColorFeedbackSuccess80;
}

.n-field-warning {
  color: $ColorFeedbackWarning80;
}

.n-error-border::after {
  border-bottom: 2px solid $ColorFeedbackError50;
}

.n-warning-border::after {
  border-bottom: 2px solid $ColorFeedbackWarning50;
}

.n-success-border::after {
  border-bottom: 2px solid $ColorFeedbackSuccess50;
}

.n-svg-container {
  height: 12px;
  width: 12px;
  margin-right: 6px;
}

.n-state-container {
  display: flex;

  img {
    height: 100%;
    width: 100%;
  }
}

.n-password-eye {
  cursor: pointer;
}
