@import "./../../base/base.scss";

.n-input {
  // padding: 1px 0px 5px;
  // height: 48px;
  color: $TypographyPrimaryColor;
  border: 0px;
  min-width: 0px;
  width: 100%;
  background: none;
  font-family: $PrimaryFont;
  position: relative;
  outline: none;
  box-sizing: border-box;
  font-size: $BaseFontSize + 6px;
  -webkit-appearance: none;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.input-prefixed {
  margin-left: 30px;
  width: calc(100% - 30px);
}

.input-suffixed {
  width: calc(100% - 30px);
}

.input-contained {
  margin-left: 30px;
  width: calc(100% - 60px);
}

.n-input-container {
  width: inherit;
  padding: 12px;
  border: 1px solid $ColorSparkleGrey60;
  border-radius: 16px;
}

.n-input-grp {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.n-input-label-container {
  display: flex;
  font-weight: 400;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0px;
  // transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 12px;
}

.n-input-label-default {
  left: 0;
}

.n-input-label-prefixed {
  left: 30px;
}

.n-input-textarea {
  height: 9.6rem;
  line-height: 2.1rem;
  padding-top: 0.6rem;
}

.n-input:disabled {
  background: $HoverColor;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.n-input:disabled + .n-input-label {
  opacity: 0.5;
}

.n-form-input {
  outline: none;
  flex-direction: column;
  display: inline-flex;
  min-width: 0px;
  position: relative;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  width: 100%;
}

.n-input-label {
  color: $LabelColor;
  font-family: $PrimaryFont;
  font-size: $BaseFontSize + 4px;
  font-weight: 500;
  line-height: 2.1rem;
  display: flex;
  flex: 1;
}

.n-input-maxLength {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 14px;
  color: $TypographyPrimaryColor;
  opacity: 0.4;
}

.n-input-grp:focus-within + .n-input-label-container > .n-input-label {
  color: $PrimaryColor !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $PlaceholderColor;
  font-size: $BaseFontSize + 6px;
  font-family: $PrimaryFont;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $PlaceholderColor;
  font-size: $BaseFontSize + 6px;
  font-family: $PrimaryFont;
}

::placeholder {
  color: $PlaceholderColor;
  font-size: $BaseFontSize + 6px;
  font-family: $PrimaryFont;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 1rem;
  font-size: $BaseFontSize + 0.4;
  cursor: pointer;
}

.n-search-icon {
  z-index: $ZIndex1;
  position: absolute;
  left: 0;
  top: 0;
}

.n-input-label-div {
  display: flex;
  justify-content: space-between;
}

.n-input-prefix,
.n-input-suffix {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background: none;
  position: absolute;
}

.n-prefix-position {
  top: 0px;
}

.n-suffix-position {
  top: 0px;
  right: 0px;
}

.n-remove-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: $WhiteColor;
}

.n-remove-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: $WhiteColor;
}

.n-prefix-padding,
.n-suffix-padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: vertical;
}

.search-icon {
  font-size: 2.4rem;
  color: $Gray;
}

.n-input-underinfo {
  color: $PrimaryGrey80;
  position: relative;
  // margin-top: calc($SpacingXs + 1px);
  margin-left: 12px;
}

.n-helper-text {
  display: block;
  font-weight: 500;
  text-transform: none;
  font-size: $BaseFontSize + 4px;
  letter-spacing: -0.07px;
  line-height: 1.4285714286;
  word-wrap: break-word;
  color: $TypographyPrimaryColor;
  margin-top: 2px;
}

.n-field-error {
  color: $ColorFeedbackError80;
}

.n-field-success {
  color: $ColorFeedbackSuccess80;
}

.n-field-warning {
  color: $ColorFeedbackWarning80;
}

.n-error-border::after {
  border-bottom: 2px solid $ColorFeedbackError50;
}

.n-warning-border::after {
  border-bottom: 2px solid $ColorFeedbackWarning50;
}

.n-success-border::after {
  border-bottom: 2px solid $ColorFeedbackSuccess50;
}

.n-password-eye {
  cursor: pointer;
}

.n-no-hover {
  border: 4px solid $WhiteColor;
  border-radius: 20px;
}

.n-input-group-disabled {
  opacity: 0.4;
  background-color: $WhiteColor;
}
.n-input-tooltip {
  margin-left: 0.5rem;
  .nitrozen-svg-icon {
    height: 20px;
    width: 20px;
  }
}
