@import "./../../base/base.scss";
.n-input {
  padding: 0 1.2rem;
  height: 4rem;
  color: $TypographyPrimaryColor;
  border: 0.1rem solid $SecondaryDisabledColor;
  border-radius: 0.3rem;
  width: 100%;
  background: $WhiteColor;
  font-family: $PrimaryFont;
  position: relative;
  outline: none;
  box-sizing: border-box;
  font-size: $BaseFontSize + 4;
  -webkit-appearance: none;
  &:focus {
    border: 0.1rem solid $PrimaryColor;
  }
}

.n-input-textarea {
  height: 9.6rem;
  line-height: 2.1rem;
  padding-top: 0.6rem;
}

.n-input:disabled {
  background: $HoverColor;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.n-input:disabled + .n-input-label {
  opacity: 0.5;
}

.nitrozen-form-input {
  outline: none;
  // &:focus {
  //     label{
  //         color: $SecondaryColor;
  //         font-weight: 600;
  //     }
  // }
}

.n-input-label {
  color: $LabelColor;
  font-family: $PrimaryFont;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.1rem;
  display: flex;
  flex: 1;
}

.n-input-maxLength {
  // display: block;
  // float: right;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nitrozen-input-grp:focus-within + .n-input-label-container > .n-input-label {
  color: $PrimaryColor !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

::placeholder {
  color: $PlaceholderColor;
  font-size: 1.2rem;
  font-family: $PrimaryFont;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 1rem;
  font-size: $BaseFontSize + 0.4;
  cursor: pointer;
}

.nitrozen-loader-div {
  float: right;
  position: relative;
  bottom: 5.2rem;
  left: 2rem;
  img {
    width: 6.5rem;
  }
}

.nitrozen-search-icon {
  z-index: $ZIndex1;
  position: absolute;
  left: 0.6rem;
  top: 0.8rem;
}

.nitrozen-tooltip-icon {
  margin-left: 0.5rem;
}

.nitrozen-search-input-padding {
  padding-left: 3.5rem;
}

.nitrozen-input-label-div {
  display: flex;
  justify-content: space-between;
}

.n-input-label-container {
  display: flex;
}

.nitrozen-input-prefix,
.nitrozen-input-suffix {
  height: 4rem;
  margin: auto;
  box-sizing: border-box;
  color: $TypographyPrimaryColor;
  border-radius: 0.3rem;
  background-color: $PrefixSuffixBackground;
}

.nitrozen-remove-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: $WhiteColor;
}

.nitrozen-remove-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: $WhiteColor;
}

.nitrozen-input-grp {
  display: flex;
  position: relative;
}

.nitrozen-prefix-padding,
.nitrozen-suffix-padding {
  padding: 1rem;
  border: 0.1rem solid $SecondaryDisabledColor;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: vertical;
}
.search-icon {
  font-size: 2.4rem;
  color: $Gray;
}
