@import "./../../base/base.scss";

@mixin nitrozen-border-primary {
  border: 0.1rem solid $PrimaryColor;
}

@mixin nitrozen-border-secondary-disable {
  border: 0.1rem solid $SecondaryDisabledColor;
}

@mixin nitrozen-vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nitrozen-badge {
  @include nitrozen-vertical-horizontal-center;
  height: 1.6rem;
  padding: 0.4rem 0.8rem;
  cursor: default;
  border-radius: 0.4rem;
  color: $WhiteColor;
  font-size: $BaseFontSize + 2;
  white-space: nowrap;
  font-family: $PrimaryFont;
  line-height: 1.8rem;
  text-align: center;
  &:focus {
    outline: none;
  }
  &.nitrozen-badge-default {
    border: 0.1rem solid $Zambezi;
    color: $Zambezi;
  }
  &.nitrozen-badge-info {
    @include nitrozen-border-primary;
    color: $PrimaryColor;
  }
  &.nitrozen-badge-success {
    border: 0.1rem solid $SuccessColor;
    color: $SuccessColor;
  }
  &.nitrozen-badge-warn {
    border: 0.1rem solid $ColorFeedbackWarning20;
    color: $ColorFeedbackWarning80;
  }
  &.nitrozen-badge-error {
    border: 0.1rem solid $ErrorColor;
    color: $ErrorColor;
  }
  &.nitrozen-badge-disable {
    border: 0.1rem solid $LabelColor;
    color: $LabelColor;
  }
  &.nitrozen-badge-default-fill {
    background: $ColorPrimaryGrey20;
    color: $JDSDefaultColor;
  }
  &.nitrozen-badge-info-fill {
    background: $PrimaryColor;
    @include nitrozen-border-primary;
  }
  &.nitrozen-badge-success-fill {
    background: $ColorFeedbackSuccess20;
    color: $ColorFeedbackSuccess80;
  }
  &.nitrozen-badge-warn-fill {
    background: $ColorFeedbackWarning20;
    color: $ColorFeedbackWarning80;
  }
  &.nitrozen-badge-error-fill {
    background: $ColorFeedbackError20;
    color: $ColorFeedbackError50;
  }
  &.nitrozen-badge-disable-fill {
    background: $ColorPrimaryGrey40;
    color: $JDSDefaultColor;
  }
}
.nitrozen-badge-story-table {
  font-family: "Inter";
  font-weight: 500;
  gap: 1.6rem;
  @include nitrozen-border-secondary-disable;
  font-size: $BaseFontSize + 6;
}
.nitrozen-badge-story-table-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 3.2rem;
  @include nitrozen-border-secondary-disable;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 80vw;
}
.nitrozen-badge-story-table-row-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 3.2rem;
  border-bottom: 0.1rem solid black;
  padding: 1rem;
  width: 80vw;
}
.nitrozen-badge-small {
  font-size: $BaseFontSize + 2;
  line-height: 1.6rem;
  letter-spacing: -0.005em;
}
.nitrozen-badge-medium {
  font-size: $BaseFontSize + 4;
}
.nitrozen-badge-large {
  font-size: $BaseFontSize + 8;
  padding: 0.4rem 0.8rem;
  line-height: 2.4rem;
  letter-spacing: -0.005em;
}
.nitrogen-badge-background {
  width: 100%;
  @include nitrozen-vertical-horizontal-center;
  padding: 0.8rem;
}

.nitrozen-badge-truncate {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}

.nitrozen-badge-small-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: 0.5rem;
}

.nitrozen-badge-medium-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: 0.6rem;
}

.nitrozen-badge-large-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: 0.7rem;
}
