@import "./../../base/base.scss";

@mixin nitrozen-border-primary {
  border: pxToRem(1) solid $PrimaryColor;
}

@mixin nitrozen-border-secondary-disable {
  border: pxToRem(1) solid $SecondaryDisabledColor;
}

@mixin nitrozen-vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nitrozen-badge {
  @include nitrozen-vertical-horizontal-center;
  height: pxToRem(16);
  padding: pxToRem(4) pxToRem(8);
  cursor: default;
  border-radius: pxToRem(4);
  color: $WhiteColor;
  font-size: pxToRem(12);
  white-space: nowrap;
  font-family: $PrimaryFont;
  line-height: 1.8rem;
  text-align: center;
  &:focus {
    outline: none;
  }
  &.nitrozen-badge-default {
    border: pxToRem(1) solid $Zambezi;
    color: $Zambezi;
  }
  &.nitrozen-badge-info {
    @include nitrozen-border-primary;
    color: $PrimaryColor;
  }
  &.nitrozen-badge-success {
    border: pxToRem(1) solid $SuccessColor;
    color: $SuccessColor;
  }
  &.nitrozen-badge-warn {
    border: pxToRem(1) solid $ColorFeedbackWarning20;
    color: $ColorFeedbackWarning80;
  }
  &.nitrozen-badge-error {
    border: pxToRem(1) solid $ErrorColor;
    color: $ErrorColor;
  }
  &.nitrozen-badge-disable {
    border: pxToRem(1) solid $LabelColor;
    color: $LabelColor;
  }
  &.nitrozen-badge-default-fill {
    background: $ColorPrimaryGrey20;
    color: $JDSDefaultColor;
  }
  &.nitrozen-badge-info-fill {
    background: $PrimaryColor;
    @include nitrozen-border-primary;
  }
  &.nitrozen-badge-success-fill {
    background: $ColorFeedbackSuccess20;
    color: $ColorFeedbackSuccess80;
  }
  &.nitrozen-badge-warn-fill {
    background: $ColorFeedbackWarning20;
    color: $ColorFeedbackWarning80;
  }
  &.nitrozen-badge-error-fill {
    background: $ColorFeedbackError20;
    color: $ColorFeedbackError50;
  }
  &.nitrozen-badge-disable-fill {
    background: $ColorPrimaryGrey40;
    color: $JDSDefaultColor;
  }
}
.nitrozen-badge-story-table {
  font-family: "Inter";
  font-weight: 500;
  gap: pxToRem(16);
  @include nitrozen-border-secondary-disable;
  font-size: pxToRem(16);
}
.nitrozen-badge-story-table-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: pxToRem(32);
  @include nitrozen-border-secondary-disable;
  border-radius: pxToRem(4);
  padding: pxToRem(10);
  width: 80vw;
}
.nitrozen-badge-story-table-row-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: pxToRem(32);
  border-bottom: pxToRem(1) solid black;
  padding: pxToRem(10);
  width: 80vw;
}
.nitrozen-badge-small {
  font-size: pxToRem(12);
  line-height: pxToRem(16);
  letter-spacing: -0.005em;
}
.nitrozen-badge-medium {
  font-size: pxToRem(14);
}
.nitrozen-badge-large {
  font-size: pxToRem(18);
  padding: pxToRem(4) pxToRem(8);
  line-height: pxToRem(24);
  letter-spacing: -0.005em;
}
.nitrogen-badge-background {
  width: 100%;
  @include nitrozen-vertical-horizontal-center;
  padding: pxToRem(8);
}

.nitrozen-badge-truncate {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: pxToRem(400);
}

.nitrozen-badge-small-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: pxToRem(5);
}

.nitrozen-badge-medium-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: pxToRem(6);
}

.nitrozen-badge-large-badge-icon {
  @include nitrozen-vertical-horizontal-center;
  margin-right: pxToRem(7);
}
