@import "./../../base/base.scss";

.n-button {
  height: 4rem;
  cursor: pointer;
  box-shadow: none;
  font-family: $PrimaryFont;
  font-size: $BaseFontSize + 3;
  font-weight: 700;
  line-height: 1.8rem;
  text-align: center;
  outline: none;
  border: 0;
  letter-spacing: 0rem;
  background: none;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0.05rem;

  &:disabled {
    // opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.n-button-primary {
  color: $PrimaryColor;
}

.n-button-secondary {
  color: $SecondaryColor;
}

.hover-state {
  pointer-events: none;
}

.btn-notprogress {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.n-flat-button {
  padding: 0rem 3rem;
  border-radius: 0.3rem;
  color: $WhiteColor;

  &:focus {
    text-decoration: underline;
    text-underline-position: under;
  }
}

.n-flat-button-primary {
  background-color: $PrimaryColor;

  &:hover:not([disabled]) {
    background-color: $PrimaryHoverColor;
  }
}

.n-flat-button-secondary {
  background-color: $SecondaryColor;

  &:hover:not([disabled]) {
    background-color: $SecondaryHoverColor;
  }
}

.n-button-stroke {
  // padding: 0rem 4rem;
  padding: 0rem 3rem;
  border-radius: 0.3rem;
  background: $WhiteColor;

  &:focus {
    text-decoration: underline;
    text-underline-position: under;
  }
}

.n-button-stroke-primary {
  border: 0.1rem solid $PrimaryColor;
  color: $PrimaryColor;

  // background-color: #B5FFE7;
  &:hover:not([disabled]) {
    background-color: #dfefe9;
  }
}

.n-button-stroke-secondary {
  border: 0.1rem solid $SecondaryColor;
  color: $SecondaryColor;

  &:hover:not([disabled]) {
    background-color: $HoverEnabled;
  }
}

.n-button-link {
  background: transparent;
  border: none;
  &.n-button-primary,
  &.n-flat-button-primary {
    color: $PrimaryColor;
    &:hover:not([disabled]) {
      color: $PrimaryHoverColor;
      background-color: transparent;
    }
  }
  &.n-button-secondary {
    color: $SecondaryColor;
    &:hover:not([disabled]) {
      color: $SecondaryHoverColor;
      background-color: transparent;
    }
  }
  &:hover:not([disabled]) {
    background-color: transparent;
  }
}
.n-button-stroke:disabled,
.n-flat-button:disabled,
.n-button-rounded:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

.n-button-rounded {
  border-radius: 2.4rem;
  padding: 0rem 3.2rem;
}

.n-button-large {
  padding: 1.3rem 2.4rem;
  height: 4.8rem;
  font-size: $BaseFontSize + 8;
  line-height: 2.5rem;
}

.n-button-mid {
  padding: 0.95rem 1.6rem;
  height: 4rem;
  font-size: $BaseFontSize + 5;
  line-height: 2.1rem;
}
.n-button-small {
  padding: 0.55rem 1.2rem;
  height: 3rem;
  font-size: $BaseFontSize + 2;
  line-height: 1.9rem;
}

.n-button-focused {
  text-decoration: underline;
  text-underline-position: under;
}

.n-button-content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.n-btn-spinner {
  text-align: center;
}

.n-btn-spin {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.n-icon-small {
  height: 2rem;
  font-size: 2rem;
}
.n-icon {
  height: 2.4rem;
  font-size: 2.4rem;
}
.n-icon-large {
  height: 3rem;
  font-size: 3rem;
}
.disable-click {
  pointer-events: none;
}

.ripple-anchor {
  display: inline-block;
}

.sb-display-grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 1.6rem;
  padding: 1.6rem;
}
