@import "./../../base/base.scss";

.menu-story-container {
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $StorybookBGColor;
}
.nitrozen-menu-content {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: space-between;
  color: $TypographyPrimaryColor;
  position: relative;
  cursor: pointer;
  .nitrozen-menu-dots {
    height: 3rem;
    width: 3rem;
  }
  .nitrozen-menu-vertical-dots {
    transform: rotate(90deg);
  }
  .nitrozen-menu-vertical-dropdown {
    z-index: $ZIndex1;
    position: absolute;
    right: 2rem;
  }
  ul {
    width: 20rem;
    height: auto;
    max-height: 15rem;
    overflow-y: auto;
    background-color: $WhiteColor;
    font-family: $PrimaryFont;
    list-style: none;
    box-shadow: 0 0.2rem 1.6rem 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    padding-left: 0rem;
    margin-top: 2em;
    border-radius: 0.2rem;

    &::-webkit-scrollbar {
      width: 1rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      border: 0.1rem solid $SecondaryDisabledColor;
      background-color: $BackgroundColor;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border: 0.3rem solid $BackgroundColor;
      background-clip: padding-box;
      background: $ScrollBarThumbColor;
      width: 0.4rem;
      border-radius: 0.5rem;
      animation: fadeIn ease 0.3s;
    }
  }
  .nitrozen-menu-top {
    bottom: 100%;
  }
}
.nitrozen-default-menu {
  &:hover {
    background-color: $HoverColor;
    border-radius: 50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nitrozen-menu-icon {
  height: 3rem;
  width: 3rem;
}
.inverted {
  stroke: transparent;
  color: $WhiteColor;
}

.error-icon {
  color: $ErrorColor;
}
