@import "./../../base/base.scss";

.menu-story-container {
  height: 250px;
  display: flex;
  justify-content: center;
}
.n-menu-container {
  z-index: $ZIndex2;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: $RadiusMedium;
  box-sizing: border-box;
  box-shadow: $ShadowS;
  width: fit-content;
  height: fit-content;
}
.n-menu-block {
  padding: 0;
  margin: 0;
  transform-origin: top;
  transition: all 0.2s ease-in-out;
  &-close {
    max-height: 0px;
  }
  &-open {
    max-height: 1000px;
  }
}

.n-menu-block-item {
  & > a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-size: calc($BaseFontSize + 6px);
    font-weight: 400;
    color: $ColorSecondaryGrey80;
    background-color: $ColorPrimaryBackground;
    padding: $SpacingXs;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      background-color: $ColorSecondaryGrey20;
    }
  }
  &-divider {
    border-bottom: 1px solid $ColorSecondaryGrey40;
  }
  &-selected > a {
    color: $ColorPrimary60;
    svg {
      color: $ColorPrimary60;
    }
  }
  &-disabled > a {
    cursor: not-allowed;
    background-color: $ColorSecondaryGrey20;
    color: $ColorPrimaryGrey60;
  }
  &-heading > a {
    font-size: calc($BaseFontSize + 4px);
    &:hover {
      background-color: $ColorPrimaryBackground;
    }
  }
}

.n-menu-block-item-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $SpacingXs;

  &-outer {
    height: 24px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $SpacingBase;
    // color: $ColorPrimary60;
    font-size: calc($BaseFontSize + 4px);
  }

  &-prefix {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-suffix {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
