@import "./../../base/base.scss";

.n-grid-container {
  width: 100%;
  display: grid;
  gap: pxToRem(15);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .n-grid-container {
    gap: pxToRem(10);
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .n-grid-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .overflow {
    overflow: scroll;
    gap: pxToRem(7.5);
  }
  .overflow > * {
    grid-row: 1;
  }
}

.testing-child-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: pxToRem(20);
  color: $TypographyPrimaryColor;
  background-color: rgb(187, 208, 226);
  padding: pxToRem(10);
}
