@import "./../../base/base.scss";

.nitrozen-grid-container {
  display: grid;
  //   dynamic class for props template
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-template: repeat(1fr, minmax(200px, 1fr));
  //   background-color: #333333;
  padding: 30px;
  column-gap: 20px;
  row-gap: 20px;
}

.nitrozen-grid-container > div {
  background-color: #ffffffcc;
  //   border: 1px dotted #ffffffcc;
  //   color: #fff;
  text-align: center;
}

.nitrozen-grid-container > div {
  //   background-color: #2B2B2B;
  text-align: center;
  font-size: 1.3rem;
}

.nitrozen-grid-font-size {
  font-size: 1.3rem;
}
