@import "./../../base/base.scss";

// 16px=1em

.toast-container-main {
  position: fixed;
  z-index: $ZIndex3;
  display: flex;
  flex-direction: column;
  font-size: $BaseFontSize + 6;

  .toast-wrapper {
    background: $ColorSecondaryGrey80;
    border-radius: 1.4em;
    color: $WhiteColor;
    width: 25rem;
    margin-bottom: 1rem;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-center 0.7s;
    min-height: 2.5rem;
    display: flex;
    justify-content: space-between;

    padding: 1.2rem;
    font-family: $PrimaryFont;
    .toast-left-container {
      display: flex;
      width: 90%;
      gap: 0.5em;
      .toast-title-container {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        width: 100%;
      }
      .toast-header {
        display: inline-block;
        text-overflow: ellipsis;
        width: calc(90%);
        color: $WhiteColor;
        font-size: 1em;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 30em;
        user-select: none;
      }
      .toast-left-image {
        height: 100%;

        object-fit: contain;
        border-radius: 0.6em;

        img {
          height: 2em;
          width: 2em;
          border-radius: 0.4em;
        }
      }
    }

    .toast-right-image {
      object-fit: contain;
      border-radius: 0.6em;

      img {
        height: 2em;
        width: 2em;
        border-radius: 0.4em;
      }
    }
    .center-align {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toast-body {
      display: flex;
      width: 80%;
      word-break: break-word;
      flex-direction: row;
      color: $WhiteColor;
      font-size: 0.8em;
    }
    .center {
      justify-content: center;
      align-items: center;
    }
    .left {
      justify-content: flex-start;
      align-items: center;
    }
    .right {
      justify-content: flex-end;
      align-items: center;
    }
    .space-between {
      justify-content: space-between;
      align-items: center;
    }
  }
  .vertical-line {
    height: 1.2rem;
    width: 0.1rem;
    background-color: $GreyColor;
  }
  .cross-btn {
    border: none;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    background: none;
    color: $WhiteColor;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    padding-left: 1.6rem;
    display: flex;
    align-items: center;
  }
}

.top-right {
  top: 5rem;
  right: 5rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-right {
  bottom: 5rem;
  right: 5rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.top-center {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  // transition: transform 0.6s ease-in-out;
  // animation: toast-in-center 0.7s;
}

.top-left {
  top: 5rem;
  left: 5rem;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bottom-left {
  bottom: 5rem;
  left: 5rem;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-center {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

.undo-container {
  display: flex;
  align-items: center;
}
