@import "./../../base/base.scss";
@import "../Input/Input.scss";

.n-code-field-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: pxToRem(10);
}

.n-code-input-field {
  border: pxToRem(2) solid $ColorPrimaryGrey60;
  background: none;
  -webkit-appearance: none;
  display: block;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-align: center;
  border-radius: pxToRem(16);
  height: pxToRem(48);
  width: pxToRem(48);

  &:focus,
  &:hover {
    border-color: $ColorPrimary60;
  }

  @media screen and (max-width: 425px) {
    height: pxToRem(30);
    width: pxToRem(30);
    border-radius: pxToRem(10);
  }
}

.n-code-input-field:hover::placeholder {
  color: $ColorPrimaryGrey80;
  font-weight: 500;
}

.n-code-input-border-success {
  border: pxToRem(2) solid $ColorFeedbackSuccess50;
}

.n-code-input-border-warning {
  border: pxToRem(2) solid $ColorFeedbackWarning50;
}

.n-code-input-border-error {
  border: pxToRem(2) solid $ColorFeedbackError50;
}

.n-code-label {
  display: flex;

  &-container {
    display: flex;
    font-weight: 400;
    font-size: pxToRem(14);
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0px 0px pxToRem(4) pxToRem(4);
    color: $TypographyPrimaryColor;
  }
}

.n-code-underinfo {
  margin: pxToRem(4);
}
