@import "./../../base/base.scss";

.n-tab-item {
  display: flex;
  justify-content: center;
  font-family: $PrimaryFont;
  padding: pxToRem(12) pxToRem(80);
  flex: 1;
  align-items: center;
  button.n-tab-btn {
    border: 0;
    outline: 0;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: pxToRem(16);
    line-height: pxToRem(24);
    color: $ColorPrimaryGrey80;
    font-weight: 500;
    min-width: pxToRem(25);
    height: 100%;
    width: 100%;
    white-space: pre;
    vertical-align: top;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $ColorSecondaryGrey100;
    }
    .n-tab-icon {
      display: inline-flex;
      margin-right: pxToRem(8);
      align-items: center;
      justify-content: center;
    }
  }

  .tab-item-icon {
    margin-top: pxToRem(1.5);
    margin-right: pxToRem(4);
  }
}
