@import "./../../base/base.scss";

.n-tab-item {
  display: flex;
  justify-content: center;
  font-family: $PrimaryFont;
  padding: 1.2rem 0.8rem;
  flex: 1;
  align-items: center;
  button.n-tab-btn {
    border: 0;
    outline: 0;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $ColorPrimaryGrey80;
    font-weight: 500;
    min-width: 2.5rem;
    height: 100%;
    width: 100%;
    white-space: pre;
    vertical-align: top;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $ColorSecondaryGrey100;
    }
    .n-tab-icon {
      display: inline-flex;
      margin-right: 0.8rem;
      align-items: center;
      justify-content: center;
    }
  }

  .tab-item-icon {
    margin-top: 0.15rem;
    margin-right: 0.4rem;
  }
}
