@import "./../../base/base.scss";

.nitrozen-card-container {
  min-width: 25.2rem;
  min-height: 10.8rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  font-family: $PrimaryFont;
  font-style: normal;
  color: $TypographyPrimaryColor;
  background-color: $WhiteColor;
}

.nitrozen-card-container-border {
  border: 0.1rem solid $SecondaryDisabledColor;
}

.nitrozen-card-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.4rem;
  line-height: 130%;
}

.nitrozen-card-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.nitrozen-card-description {
  color: $Zambezi;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
}
