@import "./../../base/base.scss";

.n-alert {
  box-sizing: border-box;
  display: flex;
  padding: pxToRem(10);
  gap: pxToRem(8);
  cursor: default;
  border-radius: pxToRem(16);
  border: pxToRem(1) solid $LabelColor;
  color: $TypographyPrimaryColor;
  font-size: pxToRem(12);
  font-family: $PrimaryFont;

  &:focus {
    outline: none;
  }

  &.n-alert-full-width {
    .n-alert-label-text,
    .n-alert-text {
      font-size: pxToRem(16);
    }
  }

  &.n-alert-link-button-container {
    .n-alert-label-text,
    .n-alert-text {
      font-size: pxToRem(14);
    }
  }

  &.n-alert-info {
    background: $ColorPrimary20;
    border: pxToRem(1) solid $ColorPrimary50;
  }

  &.n-alert-success {
    background: $Bubbles;
    border: pxToRem(1) solid $SuccessColor;
  }

  &.n-alert-warn {
    background: $ColorFeedbackWarning20;
    border: pxToRem(1) solid $ColorFeedbackWarning50;
  }

  &.n-alert-error {
    background: $ColorFeedbackError20;
    border: pxToRem(1) solid $ColorFeedbackError50;
  }

  &.n-alert-loader-container {
    background: $ColorPrimary20 !important;
    border: pxToRem(1) solid $ColorPrimary50;
  }

  .n-alert-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: pxToRem(80);
    width: 100%;
    align-items: center;

    &.n-alert-extended {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
      row-gap: pxToRem(12);

      .n-alert-button-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .n-alert-text-icon-wrapper {
    display: flex;
    align-items: center;
    column-gap: pxToRem(4);

    .n-alert-icon {
      font-size: pxToRem(28.8);

      &.n-alert-icon-info {
        color: $ColorPrimary50;
      }

      &.n-alert-icon-success {
        background-color: $SeaGreen;
        color: $WhiteColor;
        border-radius: 100%;
        font-size: medium;
        padding: pxToRem(5);
      }

      &.n-alert-icon-warn {
        color: $ColorFeedbackWarning50;
      }

      &.n-alert-icon-error {
        color: $ColorFeedbackError50;
      }
    }
  }

  .n-alert-button {
    padding: pxToRem(4) pxToRem(12);

    &.n-alert-button-success {
      background-color: $SuccessColor;

      &:hover {
        background-color: darken($color: $SuccessColor, $amount: 5%);
      }
    }

    &.n-alert-button-warn {
      background-color: $ColorFeedbackWarning50;

      &:hover {
        background-color: darken($color: #f06d0f, $amount: 5%);
      }
    }

    &.n-alert-button-error {
      background-color: $ColorFeedbackError50;

      &:hover {
        background-color: darken($color: #f50031, $amount: 5%);
      }
    }
  }

  .n-alert-link {
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;

    &.n-alert-button-link-info {
      color: $ColorPrimary50;
    }

    &.n-alert-button-link-success {
      color: $SeaGreen;
    }

    &.n-alert-button-link-warn {
      color: $WarningColor;
    }

    &.n-alert-button-link-error {
      color: $ErrorColor;
    }
  }

  .n-alert-loader {
    animation: spin 2s linear infinite;
    height: pxToRem(24);
  }

  .loader {
    border: pxToRem(4) solid #f3f3f3;
    border-top: pxToRem(4) solid #3535f3;
    border-right: pxToRem(4) solid #f7ab20;
    border-bottom: pxToRem(4) solid #1eccb0;
    border-radius: 50%;
    width: pxToRem(20);
    height: pxToRem(20);
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
