@import "./../../base/base.scss";

.n-alert {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
  cursor: default;
  border-radius: 1.6rem;
  border: 0.1rem solid $LabelColor;
  color: $TypographyPrimaryColor;
  font-size: $BaseFontSize + 2;
  font-family: $PrimaryFont;

  &:focus {
    outline: none;
  }

  &.n-alert-full-width {
    .n-alert-label-text,
    .n-alert-text {
      font-size: $BaseFontSize + 6;
    }
  }

  &.n-alert-link-button-container {
    .n-alert-label-text,
    .n-alert-text {
      font-size: $BaseFontSize + 4;
    }
  }

  &.n-alert-info {
    background: $ColorPrimary20;
    border: 0.1rem solid $ColorPrimary50;
  }

  &.n-alert-success {
    background: $Bubbles;
    border: 0.1rem solid $SuccessColor;
  }

  &.n-alert-warn {
    background: $ColorFeedbackWarning20;
    border: 0.1rem solid $ColorFeedbackWarning50;
  }

  &.n-alert-error {
    background: $ColorFeedbackError20;
    border: 0.1rem solid $ColorFeedbackError50;
  }

  &.n-alert-loader-container {
    background: $ColorPrimary20 !important;
    border: 0.1rem solid $ColorPrimary50;
  }

  .n-alert-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8rem;
    width: 100%;
    align-items: center;

    &.n-alert-extended {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
      row-gap: 1.2rem;

      .n-alert-button-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .n-alert-text-icon-wrapper {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;

    .n-alert-icon {
      font-size: $BaseFontSize + 18.8;

      &.n-alert-icon-info {
        color: $ColorPrimary50;
      }

      &.n-alert-icon-success {
        background-color: $SeaGreen;
        color: $WhiteColor;
        border-radius: 100%;
        font-size: medium;
        padding: 0.5rem;
      }

      &.n-alert-icon-warn {
        color: $ColorFeedbackWarning50;
      }

      &.n-alert-icon-error {
        color: $ColorFeedbackError50;
      }
    }
  }

  .n-alert-button {
    padding: 0.4rem 1.2rem;

    &.n-alert-button-success {
      background-color: $SuccessColor;
    }

    &.n-alert-button-warn {
      background-color: $ColorFeedbackWarning50;
    }

    &.n-alert-button-error {
      background-color: $ColorFeedbackError50;
    }
  }

  .n-alert-link {
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;

    &.n-alert-button-link-info {
      color: $ColorPrimary50;
    }

    &.n-alert-button-link-success {
      color: $SeaGreen;
    }

    &.n-alert-button-link-warn {
      color: $WarningColor;
    }

    &.n-alert-button-link-error {
      color: $ErrorColor;
    }
  }

  .n-alert-loader {
    animation: spin 2s linear infinite;
    height: 2.4rem;
  }

  .loader {
    border: 0.4rem solid #f3f3f3;
    border-top: 0.4rem solid #3535f3;
    border-right: 0.4rem solid #f7ab20;
    border-bottom: 0.4rem solid #1eccb0;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
