@import "./../Input/Input.scss";

.n-validation-container {
  margin-top: pxToRem(8);
}

.n-state-container {
  display: flex;
  font-weight: 500;
  text-transform: none;
  font-size: pxToRem(14);
  letter-spacing: pxToRem(-0.07);

  img {
    height: 100%;
    width: 100%;
  }
}

.n-svg-container {
  height: pxToRem(16);
  width: pxToRem(16);
  margin-right: pxToRem(6);
}
