@import "./../../base/base.scss";

.nitrozen-error-visible,
.nitrozen-approval-visible {
  width: 100%;
  font-family: $PrimaryFont;
  font-size: $BaseFontSize + 2;
}
.nitrozen-error-visible {
  color: $ErrorColor;
}

.nitrozen-approval-visible {
  color: $SuccessColor;
}

.badge-description-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
