@import "./../../base/base.scss";

.n-picker {
  &-calendar-group {
    display: flex;
    gap: 1.2rem;
  }

  &-divider {
    border-left: 0.1rem solid $ColorPrimaryGrey40;
  }

  &-wrapper {
    position: absolute;
    background: $WhiteColor;
    box-shadow: $ShadowM;
    border-radius: 2.4rem;
    padding: 1.6rem;
  }

  &-wrapper-width {
    width: calc(100% - 3.2rem);
    max-width: 38.4rem;
  }

  &-my-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-top: 2.2rem;
  }

  &-btn {
    width: 10.2rem;
    height: 4.8rem;
    border: 0.1rem solid $ColorPrimaryGrey40;
    color: $ColorPrimary60;
    border-radius: 50%;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 100rem;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $ColorPrimary60;
      }
    }
  }

  &-month-year {
    display: flex;
    gap: 1.2rem;
  }

  &-toggle-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      color: $ColorPrimary60;
    }
  }

  &-day-row {
    color: $TypographyPrimaryColor;
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0;
    position: relative;

    span {
      width: 4.8rem;
      text-align: center;
    }
  }

  &-calendar-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 4.8rem 4.8rem 4.8rem 4.8rem 4.8rem 4.8rem 4.8rem;
    justify-content: space-between;
    height: auto;
  }

  &-calendar-griditem {
    font-size: 1.6rem;
    color: $ColorPrimary60;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    cursor: default;
    padding-bottom: 0.8rem;
    cursor: pointer;

    div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100rem;
    }

    &-selected {
      background-color: $ColorPrimary50;
      color: $WhiteColor;
    }

    &-hover {
      &:hover {
        background-color: $ColorPrimaryGrey20;
      }
    }

    &-today {
      border-radius: 100rem;
      background-color: $ColorPrimary20;
    }
  }

  &-monthlist {
    position: absolute;
    overflow-y: scroll;
    background-color: $WhiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 15rem);
    top: 28%;
    border-top: 0.1rem solid $ColorPrimaryGrey40;
    padding-top: 0.8rem;

    &-width {
      width: calc(100% - 3.2rem);
    }

    &-semiwidth {
      width: calc(50% - 3.2rem);
    }

    &-item {
      color: $ColorPrimary60;
      font-size: 1.8rem;
      padding: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25rem;
    }

    &-selected {
      background-color: $ColorPrimary60;
      color: $WhiteColor;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.1rem solid $ColorPrimaryGrey40;
    padding-top: 1.2rem;

    &-date-group {
      display: flex;
      gap: 2.4rem;
      justify-content: space-between;
      align-items: center;
    }

    &-date-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        font-size: 1.4rem;
        color: $ColorPrimaryGrey80;

        &:last-child {
          color: $ColorPrimaryGrey100;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.n-closeicon-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  svg {
    height: 2.4rem;
    width: 2.4rem;
    color: $ColorPrimary60;
  }
}
