@import "./../../base/base.scss";

.n-checkbox-container {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $PrimaryFont;
  color: $ColorPrimaryGrey80;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0.45rem 0.45rem 0.45rem 3.2rem;
  justify-content: center;
  gap: 0.8rem;
  box-sizing: border-box;

  &:hover {
    color: $ColorPrimaryGrey100;
  }
}

/* Hide the browser's default checkbox */
.n-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.n-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  background-color: $WhiteColor;
  border: 1px solid $ColorPrimaryGrey80;
  border-radius: 0.3rem;
  transition: $TransitionsEaseQuick $TransitionsDurationRapid;

  &:hover {
    border-color: $ColorPrimary40;
  }
}

.n-checkbox-container:hover input ~ .n-checkbox {
  background-color: $WhiteColor;
}

/* When the checkbox is checked, add a blue background */
.n-checkbox-container input:checked ~ .n-checkbox {
  border-color: $ColorPrimary50;
  background-color: $ColorPrimary50;
  &:hover {
    background-color: $ColorPrimary60;
  }
}

/* Create the nitrozen-checkbox/indicator (hidden when not checked) */
.n-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the nitrozen-checkbox when checked */
.n-checkbox-container input:checked ~ .n-checkbox:after {
  display: block;
}

/* Style the nitrozen-checkbox/indicator */
.n-checkbox-container .n-checkbox:after {
  left: 0.8rem;
  top: 0.35rem;
  width: 0.4rem;
  height: 1rem;
  border: 0.1rem solid $WhiteColor;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:disabled + .n-checkbox {
  opacity: 0.5;
  pointer-events: none;

  &::after {
    border-width: 0 0.2rem 0.2rem 0;
  }
}

.n-checkbox-container-disabled {
  color: $CheckboxDisableColor;
}
