@import "./../../base/base.scss";

.n-tab-container {
  display: flex;
  height: pxToRem(48);
  position: relative;
  &.n-tab-scroll {
    padding: 0 pxToRem(64);
    overscroll-behavior-x: none;
    .n-tab {
      overflow: hidden;
      scroll-behavior: smooth;
      .n-tab-item {
        flex: auto;
      }
    }
  }
  &.n-overflow-scroll {
    .n-tab {
      .n-tab-item {
        flex: none;
      }
    }
  }

  &.n-tab-navbar {
    background-color: $ColorPrimary60;
    color: $ColorPrimaryBackground;
    .n-nav-btn {
      color: $DarkPrimary60;
      border-radius: 50%;

      &:hover {
        background-color: $ColorPrimary20Dark;
      }

      &.n-icon-btn-left {
        svg {
          color: $DarkPrimary60;
        }
      }
      &.n-icon-btn-right {
        svg {
          color: $DarkPrimary60;
        }
      }
    }
    .n-tab {
      & .n-d-scroll {
        background-color: $DarkPrimary60;
      }
      .n-tab-item {
        button.n-tab-btn {
          background-color: $ColorPrimary60;
          color: $ColorPrimaryBackground;
          &:hover {
            color: $ColorPrimaryInverse80;
          }
        }
        &.n-tab-active {
          button.n-tab-btn {
            color: $ColorPrimaryBackground;
          }
        }
      }
    }
  }

  .n-nav-btn {
    border: none;
    background: none;
    color: $ColorPrimary60;
    border-radius: 50%;
    height: pxToRem(40);
    width: pxToRem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-size: pxToRem(30);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      background-color: $ColorPrimary20;
    }

    &.n-icon-btn-left {
      left: pxToRem(5);
      display: none;
      svg {
        color: $ActiveFieldBorder;
      }
    }
    &.n-icon-btn-right {
      right: pxToRem(5);
      display: none;
      svg {
        color: $ActiveFieldBorder;
      }
    }
  }

  .n-tab {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 0 pxToRem(16);
    font-family: $PrimaryFont;
    position: relative;
    & .n-d-scroll {
      height: pxToRem(4);
      background-color: $ColorPrimary50;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: pxToRem(4);
      transition: 0.3s ease all;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &.n-dragging {
      scroll-behavior: auto;
      cursor: grab;
    }
  }
}
