@import "./../../base/base.scss";

.nitrozen-tab-container {
  display: flex;
  height: 4.8rem;
  position: relative;
  &.tab-scroll {
    padding: 0 6.4rem;
    overscroll-behavior-x: none;
    .nitrozen-tab {
      overflow: hidden;
      scroll-behavior: smooth;
      .nitrozen-tab-item {
        flex: auto;
      }
    }
  }
  &.overflow-scroll {
    .nitrozen-tab {
      .nitrozen-tab-item {
        flex: none;
      }
    }
  }

  &.tab-navbar {
    background-color: $ColorPrimary60;
    color: $ColorPrimaryBackground;
    .nav-btn {
      color: $DarkPrimary60;
      border-radius: 50%;

      &:hover {
        background-color: $ColorPrimary20Dark;
      }

      &.icon-btn-left {
        svg {
          color: $DarkPrimary60;
        }
      }
      &.icon-btn-right {
        svg {
          color: $DarkPrimary60;
        }
      }
    }
    .nitrozen-tab {
      & .d-scroll {
        background-color: $DarkPrimary60;
      }
      .nitrozen-tab-item {
        button.tab-btn {
          background-color: $ColorPrimary60;
          color: $ColorPrimaryBackground;
          &:hover {
            color: $ColorPrimaryInverse80;
          }
        }
        &.nitrozen-tab-active {
          button.tab-btn {
            color: $ColorPrimaryBackground;
          }
        }
      }
    }
  }

  .nav-btn {
    border: none;
    background: none;
    color: $ColorPrimary60;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      background-color: $ColorPrimary20;
    }

    &.icon-btn-left {
      left: 0.5rem;
      display: none;
      svg {
        color: $ActiveFieldBorder;
      }
    }
    &.icon-btn-right {
      right: 0.5rem;
      display: none;
      svg {
        color: $ActiveFieldBorder;
      }
    }
  }

  .nitrozen-tab {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 0 1.6rem;
    font-family: $PrimaryFont;
    position: relative;
    & .d-scroll {
      height: 0.4rem;
      background-color: $ColorPrimary50;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0.4rem;
      transition: 0.3s ease all;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &.dragging {
      scroll-behavior: auto;
      cursor: grab;
    }
  }
}
