@import "./../../base/base.scss";

.n-chip {
  background-color: $WhiteColor;
  @include d-flex-center;
  padding: pxToRem(8);
  cursor: default;
  border-radius: pxToRem(4);
  border: pxToRem(1) solid $ColorPrimaryGrey60;
  color: $TypographyPrimaryColor;
  font-size: pxToRem(16);
  vertical-align: middle;
  white-space: nowrap;
  font-family: $PrimaryFont;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;

  .n-chiptext {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .n-chip-label {
    font-size: pxToRem(16);
    letter-spacing: -0.005em;
    color: $ColorPrimaryGrey80;
  }

  &:active {
    background-color: $GreyColor;
  }

  &:focus {
    border: pxToRem(4) solid $ActiveFieldBorder;
  }

  &:hover {
    // box-shadow: 0rem 0rem 0.5rem $Whisper;
    color: $ColorBlack;
  }

  &.n-disabled {
    cursor: default;
    background: $WhiteColor;
    color: $TypographyPrimaryColor;
    opacity: $DisabledOpacity;
    pointer-events: none;

    &:hover {
      box-shadow: none;
    }

    svg {
      // opacity: 0.5;
      filter: saturate(65%);
    }
  }

  &.n-chip-secondary {
    color: $PrimaryColor;
    border-color: $PrimaryColor;
    font-weight: 700;
  }

  &.rounded {
    border-radius: pxToRem(39);
  }

  .n-icon {
    @include d-flex-center;
    margin-left: pxToRem(4);
  }
}

.n-label-chip-text {
  color: $ColorBlack;
}

//DEMO
.chip-demo-section {
  display: flex;
  gap: pxToRem(10);
  flex-wrap: wrap;
  justify-content: center;
  max-width: pxToRem(500);
}
