@import "./../../base/base.scss";
@import "./../../base/storybook.scss";

.svg-category-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  border: 0.08rem solid $Whisper;
  padding: 2.6rem 1.2rem;
  background: $Snow;
  border-radius: 0.6rem;
}

.storybook-svg-container {
  margin-inline: auto;
  max-width: 70rem;
  min-height: 70vh;
  @include d-flex-center;
}
.category-heading {
  font-size: $BaseFontSize + 14;
  font-family: $PrimaryFont;
  text-transform: capitalize;
  color: $TypographyPrimaryColor;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-align: center;
}

.demo-container {
  width: 100%;
  @include d-flex-center;
  flex-direction: column;
  padding-bottom: 3.6rem;
  border-radius: 0.6rem;
  background: linear-gradient(90deg, $Spray, $PurpleTaupe);
  font-family: $PrimaryFont;

  h1 {
    font-size: $BaseFontSize + 22;
    margin-block: 2.6rem;
    color: $WhiteColor;
    text-align: center;
  }

  img {
    max-width: 52rem;
    width: 95%;
    display: block;
    border-radius: 0.6rem;
  }

  .demo-description {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: $BaseFontSize + 5;
    gap: 0.4rem;
    margin-top: 2rem;
  }
}

.filters-section {
  padding-block: 2.6rem;
  display: flex;
  gap: 2rem;
  background: linear-gradient(to bottom, $WhiteColor 90%, transparent);
  z-index: $ZIndex1;
  position: sticky;
  top: 0;

  .nitrozen-form-input {
    flex-grow: 1;

    input,
    input::-webkit-input-placeholder {
      font-size: $BaseFontSize + 4;
    }
  }

  .filters-cta {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    font-size: $PrimaryFont + 3;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    gap: 0.6rem;
    font-weight: 600;
    color: $TypographySecondaryColor;
    border: 0.2rem solid transparent;
    transition: 0.1s ease;

    &:active {
      background: $Whisper2;
      border-color: $SecondaryHoverColor;
    }
  }
}

.icons-list-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.svg-btn {
  background: white;
  border: 0.1rem solid $Whisper;
  padding: 2rem 0.6rem 3rem 0.6rem;
  box-shadow: none;
  border-radius: 0.6rem;
  transition: 0.1s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: $BaseFontSize;
  align-items: center;
  gap: 1.2rem;
  width: 10rem;
  position: relative;
  overflow: hidden;
  font-family: $PrimaryFont;

  .copy-alert {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $TypographyTertiaryColor;
    padding-block: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    transition: 0.1s ease;
    font-weight: 600;
    font-size: $BaseFontSize + 1;

    * {
      color: $WhiteColor;
    }
  }

  &:hover .copy-alert {
    opacity: 1;
  }

  &:active .copy-alert {
    background: $TypographySecondaryColor;
  }

  .copy-alert.copied {
    transition: 0.1s ease;
    background: $Pelorous;
  }

  .component-name {
    color: $TypographyPrimaryColor;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 8rem;
    font-size: $BaseFontSize;
  }

  .svg-edit-cta {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.6rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    background: none;
    padding: 0.8rem;
    transition: 0.2s ease;
    opacity: 0;
    @include d-flex-center;

    &:hover {
      opacity: 1 !important;
      background: $Grey;
    }
  }

  &:hover {
    box-shadow: 0rem 0rem 0.2rem $Spray;

    .svg-edit-cta {
      opacity: 0.5;
    }
  }
}

.nitrozen-svg-icon {
  color: $SvgColor;
}
