@import "./../../base/base.scss";
@import "./../../base/storybook.scss";

.svg-category-container {
  display: flex;
  flex-direction: column;
  margin-bottom: pxToRem(40);
  border: pxToRem(0.8) solid $Whisper;
  padding: pxToRem(26) pxToRem(12);
  background: $Snow;
  border-radius: pxToRem(6);
}

.storybook-svg-container {
  margin-inline: auto;
  max-width: pxToRem(700);
  min-height: 70vh;
  @include d-flex-center;
}
.category-heading {
  font-size: pxToRem(24);
  font-family: $PrimaryFont;
  text-transform: capitalize;
  color: $TypographyPrimaryColor;
  font-weight: 600;
  margin-bottom: pxToRem(24);
  text-align: center;
}

.demo-container {
  width: 100%;
  @include d-flex-center;
  flex-direction: column;
  padding-bottom: pxToRem(36);
  border-radius: pxToRem(6);
  background: linear-gradient(90deg, $Spray, $PurpleTaupe);
  font-family: $PrimaryFont;

  h1 {
    font-size: pxToRem(32);
    margin-block: pxToRem(26);
    color: $WhiteColor;
    text-align: center;
  }

  img {
    max-width: pxToRem(520);
    width: 95%;
    display: block;
    border-radius: pxToRem(6);
  }

  .demo-description {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: pxToRem(15);
    gap: pxToRem(4);
    margin-top: pxToRem(20);
  }
}

.filters-section {
  padding-block: pxToRem(26);
  display: flex;
  gap: pxToRem(20);
  background: linear-gradient(to bottom, $WhiteColor 90%, transparent);
  z-index: $ZIndex1;
  position: sticky;
  top: 0;

  .nitrozen-form-input {
    flex-grow: 1;

    input,
    input::-webkit-input-placeholder {
      font-size: pxToRem(14);
    }
  }

  .filters-cta {
    display: flex;
    align-items: center;
    padding-inline: pxToRem(20);
    font-size: $PrimaryFont + 3;
    cursor: pointer;
    border: none;
    border-radius: pxToRem(6);
    gap: pxToRem(6);
    font-weight: 600;
    color: $TypographySecondaryColor;
    border: pxToRem(2) solid transparent;
    transition: 0.1s ease;

    &:active {
      background: $Whisper2;
      border-color: $SecondaryHoverColor;
    }
  }
}

.icons-list-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: pxToRem(16);
}

.svg-btn {
  background: white;
  border: pxToRem(0.1) solid $Whisper;
  padding: pxToRem(20) pxToRem(6) pxToRem(30) pxToRem(6);
  box-shadow: none;
  border-radius: pxToRem(6);
  transition: 0.1s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: pxToRem(10);
  align-items: center;
  gap: pxToRem(12);
  width: pxToRem(100);
  position: relative;
  overflow: hidden;
  font-family: $PrimaryFont;

  .copy-alert {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $TypographyTertiaryColor;
    padding-block: pxToRem(2);
    display: flex;
    align-items: center;
    gap: pxToRem(4);
    justify-content: center;
    transition: 0.1s ease;
    font-weight: 600;
    font-size: pxToRem(11);

    * {
      color: $WhiteColor;
    }
  }

  &:hover .copy-alert {
    opacity: 1;
  }

  &:active .copy-alert {
    background: $TypographySecondaryColor;
  }

  .copy-alert.copied {
    transition: 0.1s ease;
    background: $Pelorous;
  }

  .component-name {
    color: $TypographyPrimaryColor;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: pxToRem(80);
    font-size: pxToRem(10);
  }

  .svg-edit-cta {
    position: absolute;
    top: 0;
    right: 0;
    font-size: pxToRem(14);
    border: none;
    border-radius: pxToRem(6);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    background: none;
    padding: pxToRem(8);
    transition: 0.2s ease;
    opacity: 0;
    @include d-flex-center;

    &:hover {
      opacity: 1 !important;
      background: $Grey;
    }
  }

  &:hover {
    box-shadow: 0rem 0rem pxToRem(2) $Spray;

    .svg-edit-cta {
      opacity: 0.5;
    }
  }
}

.nitrozen-svg-icon {
  color: $SvgColor;
}
