@import "./mixins.scss";
@import "./variable.scss";
@import "./waves.scss";
@import "./typography.scss";

html,
body {
  font-size: $BaseFontSize;
}

.nitrozen-scrollbar {
  @include nitrozen-scrollbar;
}

.nitrozen-menu-scrollbar {
  @include nitrozen-menu-scrollbar;
}

/* Components Group div styling*/
.main-div {
  margin-top: 2%;
  padding: 4rem;
  @media screen and (max-width: 625px) {
    padding: 1rem;
  }
  &.pad {
    padding: 2.4rem;
  }

  &.bg-white {
    background: $WhiteColor;
  }
}

.space-between {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.4em;

  .box {
    margin: 2rem;
  }
}
