@import "./fonts.scss";

$BaseFontSize: 10px;
$DefaultColor: #2e31be;
$PrimaryColor: var(--PrimaryColor, $DefaultColor);
$PrimaryHoverColor: var(--PrimaryHoverColor, #2e31a1);
$PrimaryDisabledColor: var(--PrimaryDisabledColor, #b5ffe7);
$SecondaryColor: var(--SecondaryColor, #2dbaaa);
$SecondaryHoverColor: var(--SecondaryHoverColor, #2dbaaa);
$SecondaryDisabledColor: var(--SecondaryDisabledColor, #e0e0e0);
$TypographyPrimaryColor: var(--TypographyPrimaryColor, #41434c);
$TypographySecondaryColor: var(--TypographySecondaryColor, #666666);
$TypographyTertiaryColor: var(--TypographyTertiaryColor, #999999);
$PrimaryFont: var(--PrimaryFont, "Inter", sans-serif);
$SvgColor: var(--SvgColor, #8f8f8f);
$ZIndexNe: var(--ZIndexNe, -1);
$ZIndex1: var(--ZIndex1, 1);
$ZIndex2: var(--ZIndex2, 99);
$ZIndex3: var(--ZIndex3, 999);

$BlackColor: #000000;
$WhiteColor: #ffffff;
$GreyColor: #f8f8f8;
$LabelColor: #9b9b9b;
$BackgroundColor: #f9f9f9;
$PlaceholderColor: #a4a4a4;
$HoverColor: #f3f3f3;
$WarningColor: #f5a300;
$InfoColor: #605ae0;
$SuccessColor: #0a5f23;
$ErrorColor: #cd0909;
$Shadow: rgba(0, 0, 0, 0.08);
$EclipseColor: #3d3d3d;
$Whisper: #ebebeb;
$ScrollBarThumbColor: #979797;
$ScrollBarThumbColorWebKit: #6b6b6b;
$HoverEnabled: #f0f4ff;
$PrefixSuffixBackground: #e4e5e6;
$CheckboxDisableColor: #9e9e9e;
$ToggleBtnShadow: 0 0 0.1rem 0 #0000001f, 0 0.1rem 0.1rem 0 #0000003d;
$Solitude: #e7eeff;
$Portage: #8c8ee3;
$VeryLightGrey: #cccccc;
$Zambezi: #5c5c5c;
$BgColor: rgba(0, 0, 0, 0.6);
$DialogNegativeColor: #fa3f4d;
$WhiteSmoke: #f2f2f2;
$LilyWhite: #e9f5ee;
$SeaGreen: #219653;
$Eucalyptus: #419266;
$Bubbles: #e3f2e9;
$LightGrey: #d6d6d6;
$Flamingo: #eb5757;
$WhiteSmoke2: #fdeded;
$chinaIvory: #fff5d6;
$StorybookBGColor: #9a9a9a;
$SantasGrey: #9c9caa;
$Perano: #a9b1ea;
$Whisper3: #ededed;
$Gray: #8f8f8f;
$PinkSwan: #b8b8b8;
